Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

Remove floating AI chat widget from base template
  app/templates/base.html
Due: none

Fix GitHub workflow issues
  .github/workflows/ci-cd.yml
  scripts/security-gate-check.py
Due: performance-check

Fix security scan issues - MD5 hashing and subprocess
  ai-team-service/app/ai_team/performance_optimizer.py
  ai-team-service/app/ai_team/ultimate_memory_system.py
  ai-team-service/app/ai_team/universal_ai_platform.py
  ai_team/performance_optimizer.py
  ai_team/ultimate_memory_system.py
  ai_team/universal_ai_platform.py
  app/services/ai_memory_integration.py
  app/utils/auth.py
  run_ai_dashboard.py
  services/ai-services/app/services/ai_memory_system.py
Due: performance-check

Fix shell injection security issue in health-monitor.py
  deployment/health-monitor.py
Due: performance-check

Remove CodeQL from security-scan.yml (conflicts with default setup)
  .github/workflows/security-scan.yml
Due: none

Fix pytest-asyncio configuration for async fixtures
  pyproject.toml
Due: none

Fix CI test failures
  requirements-full.txt
  tests/test_main.py
  tests/test_training.py
Due: performance-check

Fix remaining test failures
  tests/test_autonomous_ai_system.py
  tests/test_main.py
Due: performance-check

Fix CI failure: pass task_request instead of TaskType to _select_optimal_models
  tests/test_autonomous_ai_system.py
Due: performance-check

Fix AutoGen AgentChat imports for v0.4+ package structure
  ai-team-service/app/autonomous_agents/autonomous_chatterfix_builder.py
  ai-team-service/requirements.txt
  requirements-full.txt
Due: performance-check

feat: Add AI team toolchain (UI/DB/tests/git/review)
  .claude/commands/ai-team.md
  .claude/settings.local.json
  .github/workflows/ci-cd.yml
  ai-team-service/app/tools/__init__.py
  ai-team-service/app/tools/accessibility_checker.py
  ai-team-service/app/tools/code_reviewer.py
  ai-team-service/app/tools/database_generator.py
  ai-team-service/app/tools/design_system.py
  ai-team-service/app/tools/fullstack_generator.py
  ai-team-service/app/tools/git_tools.py
  ai-team-service/app/tools/test_generator.py
  ai-team-service/app/tools/ui_component_generator.py
  ai-team-service/app/tools/ui_toolkit.py
Due: performance-check

perf: Optimize Docker build for 5-10x faster CI/CD
  .dockerignore
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

feat: Multi-container architecture for parallel Docker builds
  Dockerfile
  requirements-core.txt
  services/ocr-service/Dockerfile
  services/ocr-service/main.py
  services/ocr-service/requirements.txt
Due: performance-check

feat: Complete multi-container architecture with parallel CI/CD builds
  .github/workflows/ci-cd.yml
  app/clients/__init__.py
  app/clients/ocr_client.py
  docker-compose.yml
  services/ocr-service/.dockerignore
Due: performance-check

feat: Complete AI Team integration with Claude Code
  .github/workflows/ci-cd.yml
  app/clients/__init__.py
  app/clients/ai_team_client.py
  docker-compose.yml
  mcp_servers/README.md
  mcp_servers/ai_team_mcp.py
  scripts/ai_team_cli.py
Due: performance-check

docs: Add AI Team workflow documentation
  docs/AI_TEAM_WORKFLOW.md
Due: none

fix: Critical security fixes for authentication and CORS
  app/auth.py
  app/models/user.py
  app/routers/auth.py
  app/utils/auth.py
  docs/CHATTERFIX_COMPLETE_DOCUMENTATION.md
  docs/FIREBASE_SECURITY_AUDIT.md
  main.py
Due: performance-check

feat: Add rate limiting and RBAC enforcement
  app/routers/auth.py
  app/routers/work_orders.py
  app/services/auth_service.py
Due: performance-check

feat: Use GCP Secret Manager for secure credential management
  .github/workflows/production-ci-cd.yml
Due: none

fix: Add CI permissions and build-essential for AI service
  .github/workflows/ci-cd.yml
  ai-team-service/Dockerfile
Due: none

feat: Add Memory Guardian to prevent VS Code crashes
  CLAUDE.md
  scripts/memory-guardian.py
  scripts/start-memory-guardian.sh
Due: performance-check

feat: Add server-side Speech-to-Text service for hands-free operation
  app/routers/ai.py
  app/services/speech_to_text_service.py
  requirements.txt
Due: security-config-check, performance-check

feat: Add Voice Command Visual Feedback UI component
  app/static/js/voice-feedback.js
  app/templates/ar/dashboard.html
  app/templates/base.html
Due: none

feat: Integrate AI team memory with voice/vision workflows
  app/routers/ai.py
  app/services/computer_vision.py
  app/services/voice_commands.py
  app/services/voice_vision_memory.py
Due: performance-check

fix: Resolve type annotation error when Google Speech SDK unavailable
  app/services/speech_to_text_service.py
Due: performance-check

fix: Use full requirements.txt in Dockerfile
  Dockerfile
Due: none

fix: Add missing core deps and revert to fast build
  Dockerfile
  requirements-core.txt
Due: none

fix: Mark MD5 hash as non-security use
  app/services/computer_vision.py
Due: performance-check

fix: Resolve ai-team-service dependency conflicts
  ai-team-service/requirements.txt
Due: none

fix: Reduce card tilt intensity and disable on modals
  app/static/js/ui-components.js
Due: none

fix: Hide create work order form by default
  app/templates/work_orders.html
Due: none

chore: Bump ui-components.js cache version to v2
  app/templates/base.html
Due: none

ci: Add cloudbuild.yaml with BuildKit enabled for deployment
  cloudbuild.yaml
Due: none

ci: Fix cloudbuild.yaml to use latest tag instead of COMMIT_SHA
  cloudbuild.yaml
Due: none

fix: Reduce tilt to 1 degree (was 3) - much more subtle effect
  app/static/js/ui-components.js
  app/templates/base.html
Due: none

perf: Speed up CI - use core deps, UV, and parallel jobs
  .github/workflows/ci-cd.yml
Due: none

fix: Remove all tilt effects completely
  app/static/css/style.css
  app/static/js/ui-components.js
  app/templates/base.html
  app/templates/dashboard.html
Due: none

chore: AI Team code review cleanup
  app/routers/demo.py
  app/routers/rbac_auth.py.unused
  main.py
Due: performance-check

chore: Remove dead code - predictive_engine.py (44KB unused)
  app/services/predictive_engine.py
Due: performance-check

chore: Organize test files into tests/ directory
  tests/smoke_test.py
  tests/test_ai_team.py
  tests/test_claude_connection.py
  tests/test_linesmart_intelligence.py
  tests/test_mobile_integration.py
  tests/test_public_access_denial.py
  tests/test_sales_demo_readiness.py
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
