Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

Major Navigation UX Enhancement - Workflow-based Design
  app/templates/base.html
Due: none

🚨 URGENT: Fix critical navigation HTML structure
  app/templates/base.html
Due: none

🔧 CRITICAL FIX: Complete Navigation Structure - WORKS NOW!
  app/templates/base.html
Due: none

Implement clean tab-based navigation like browser tabs
  app/templates/base.html
Due: none

Add CEO Dashboard - AI Team Platform Command Center
  app/routers/ceo_dashboard.py
  app/templates/ceo_dashboard.html
  main.py
Due: performance-check

🔧 CRITICAL FIX: Remove Duplicate AI Sales Chat Widget
  app/templates/landing.html
Due: none

🔧 AI TEAM AUTONOMOUS CLEANUP: Complete Project Optimization
  app/routers/rbac_auth.py.unused
  app/routers/work_orders.py
  main.py
Due: performance-check

🔧 CRITICAL FIX: Resolve Firestore DateTime Serialization Issue
  app/core/firestore_db.py
Due: performance-check

✅ CRITICAL FRONTEND-BACKEND GAP RESOLUTION COMPLETE
  app/templates/base.html
Due: none

🔒 COMPREHENSIVE DUAL LICENSING STRATEGY IMPLEMENTED
  LICENSE
  README.md
Due: none

🏢 Add Enterprise QualityFix & SafetyFix Modules
  Dockerfile
  Dockerfile.emergency
  Dockerfile.optimized
  Dockerfile.test
  app/routers/quality_management.py
  app/routers/safety_management.py
  app/templates/base.html
  app/templates/quality_dashboard.html
  app/templates/safety_dashboard.html
  deploy-fast.sh
  deploy-gcp.sh
  deploy-production.sh
  deploy-separated-services.sh
  deploy.sh
  main.py
  main_emergency.py
  main_full.py
  requirements-dev.txt
  requirements-local.txt
  requirements-media.txt
Due: performance-check

🔧 AI TEAM AUTOGEN FIXES: Critical deployment issues resolved
  Dockerfile
  app/routers/planner.py
  app/services/planner_service.py
  app/static/js/app.js
  cloudbuild-production.yaml
  main.py
Due: performance-check

🤖 AUTONOMOUS AI SYSTEM INTEGRATION COMPLETE
  AUTONOMOUS_AI_SYSTEM_DOCUMENTATION.md
  AUTONOMOUS_AI_SYSTEM_SUMMARY.md
  app/routers/autonomous_intelligence_dashboard.py
  app/services/ai_orchestrator_advanced.py
  app/services/autonomous_data_engine.py
  app/services/enterprise_security_manager.py
  app/services/intelligent_prediction_engine.py
  app/services/predictive_intelligence_hub.py
  app/templates/autonomous_intelligence_dashboard.html
  demo_autonomous_ai.py
  main.py
  tests/test_autonomous_ai_system.py
Due: performance-check

🏷️ VERSION CONTROL: Implement clear version labeling system
  main.py
Due: performance-check

🔧 FIX: Cloud Run port configuration alignment
  main.py
Due: performance-check

🔧 ENHANCE: Add explicit port logging for Cloud Run debugging
  main.py
Due: performance-check

🔧 CRITICAL FIX: Add missing AI_TEAM_SERVICE_URL to Cloud Run deployment
  deploy.sh
Due: none

🔧 CRITICAL FIX: Resolve uvicorn dependency issue in Docker container
  Dockerfile
Due: none

🎨 UI/UX: Fix demo page responsive design and AI widget consolidation
  app/templates/base.html
  app/templates/dashboard.html
  requirements.txt
Due: security-config-check

🔧 CRITICAL FIX: Remove duplicate root route causing HTTP 405 error
  main.py
Due: performance-check

🤖 AI WIDGET CONSOLIDATION: Fix duplicate AI widgets with unified system
  app/static/js/ai-chat-popup.js
  app/templates/base.html
Due: none

⚡ STREAMLINE: Simplify CI/CD pipeline for faster deployments
  .github/workflows/production-ci-cd.yml
Due: none

🔒 SECURITY: Fix critical vulnerabilities in AI team service
  ai-team-service/requirements.txt
Due: none

🎯 COMPLETE: Ultimate Workflow Maintenance System Implementation
  .github/workflows/workflow-maintenance.yml
  CLAUDE.md
  scripts/workflow-health-monitor.py
Due: performance-check

✨ RESTORE: Stunning Card Tilt Effects - Premium UI Experience
  app/static/css/style.css
  app/static/js/ui-components.js
Due: none

🔧 URGENT FIX: Assets page UI repair - professional thumbnails and working filter tabs
  app/routers/demo.py
  app/templates/assets_list.html
Due: performance-check

🎯 FIX: Replace oversized asset placeholders with professional icons
  app/services/mock_data_service.py
Due: performance-check

🔧 YAML: Fix all deployment configuration issues
  .github/workflows/dependency-update.yml
  .github/workflows/production-ci-cd.yml
  .github/workflows/workflow-maintenance.yml
  cloudbuild-production.yaml
Due: none

🚀 COMPLETE: Technician-First Work Order Creation System
  .env.template
  .github/workflows/ci-cd.yml
  .gitignore
  Dockerfile
  Makefile
  app/templates/base.html
  docker-compose.yml
  requirements-full.txt
  scripts/ai-assistant.py
  scripts/deploy.sh
  scripts/security-check.sh
  scripts/verify-setup.sh
Due: performance-check

🎯 FIX: Quality Dashboard Chart Overflow + Docker Optimization
  app/templates/quality_dashboard.html
  docker-compose.yml
  scripts/deploy.sh
Due: none

🧠 Activate AI Memory System + Claude Code Agent Flows
  .claude/commands/ai-team.md
  .claude/commands/cleanup.md
  .claude/commands/deploy.md
  .claude/commands/health-check.md
  .claude/commands/quick-fix.md
  .claude/commands/review.md
  .claude/commands/security-scan.md
  .claude/commands/test.md
  .claude/commands/voice-test.md
  .claude/settings.local.json
  .env.example
  .github/workflows/backup/dependency-update.yml
  .github/workflows/backup/deploy-cloud-run.yml
  .github/workflows/backup/deploy-now.yml
  .github/workflows/backup/deploy-simple.yml
  .github/workflows/backup/deploy.yml
  .github/workflows/backup/monitoring.yml
  .github/workflows/backup/production-deploy.yml
  .github/workflows/backup/security-audit.yml
  .github/workflows/backup/security-scan.yml
  .github/workflows/backup/staging-deploy.yml
  .github/workflows/backup/test-and-lint.yml
  app/routers/ai.py
  app/services/ai_memory_integration.py
  app/services/computer_vision.py
  app/services/gemini_service.py
  app/services/voice_commands.py
  cloudbuild-optimized.yaml
  cloudbuild-prod.yaml
  cloudbuild.yaml
  deploy-production.sh
  deployment/cloudbuild-cloudrun.yaml
  deployment/cloudbuild.yaml
  deployment/rollback.sh
  deployment/setup-gcp.sh
  requirements_optimized.txt
  test_claude_connection.py
  test_simple.py
Due: security-config-check, performance-check

🔧 Fix deprecated actions/upload-artifact v3 → v4
  .github/workflows/ci-cd.yml
Due: none

🔧 Fix CI/CD workflow - Update GCP auth and safety CLI
  .github/workflows/ci-cd.yml
Due: none

🔧 Remove staging environment block (not configured in GitHub)
  .github/workflows/ci-cd.yml
Due: none

🔧 Add AI router to extended routers list
  main.py
Due: performance-check

🔧 Add openai to requirements-full.txt
  requirements-full.txt
Due: none

🔧 Add passlib and python-jose to requirements-full.txt
  requirements-full.txt
Due: none

Fix AI team framework startup issues
  ai_team/__init__.py
  ai_team/autogen_framework.py
  ai_team/local_dashboard.py
  ai_team/universal_ai_platform.py
Due: performance-check

Improve Quality dashboard chart rendering
  app/templates/quality_dashboard.html
Due: none
