Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

🚀 Add complete platform deployment script
  deploy-complete-platform.sh
Due: none

🔥 Deploy Complete Unified ChatterFix CMMS Platform
  core/cmms/app.py
Due: performance-check

🔥 Add Fix It Fred Live Editing System
  .github/workflows/deploy-live-editing.yml
  fix-it-fred-api.py
  setup-live-editing.sh
Due: api-docs-check, performance-check

🔥 Test Fix It Fred Hot Reload System
  .github/workflows/quick-deploy.yml
  deploy-hot-reload.sh
  deploy-unified-via-startup.sh
  minimal-working-deploy.sh
  quick-patches/README.md
  quick-patches/test-fred-endpoint.py
  vm-deployment/app.py
Due: performance-check

🔧 Fix It Fred Critical Security & Ollama Fixes
  .github/workflows/fix-it-fred-critical-fixes.yml
  vm-deployment/app.py
Due: performance-check

🤖 Install Best Ollama Model for ChatterFix AI
  .github/workflows/install-best-ollama-model.yml
  quick-patches/optimize-fix-it-fred-ai.py
Due: performance-check

🌐 Fix chatterfix.com Domain Access
  .github/workflows/fix-nginx-domain.yml
Due: none

🚨 EMERGENCY FIX: AI Chat Backend Failure - Critical Production Issue
  core/cmms/app.py
  emergency_backend.py
Due: performance-check

🩺 FIX: GitHub Actions health check port correction
  .github/workflows/deploy-to-gcp.yml
Due: none

🔧 Fix AI Chat Deployment Path - Deploy to Correct Service Location
  .github/workflows/deploy.yml
Due: none

🔧 CRITICAL FIX: AI Chat Deployment Path - Deploy to Correct Service Location
  .github/workflows/deploy.yml
Due: none

🔧 URGENT HOTFIX: AI Chat Deployment Path - Fix Service Location
  .github/workflows/deploy.yml
Due: none

🤖 FINAL FIX: AI Chat Backend with Systemd Service
  clean-deploy-vm.sh
Due: none

🤖 ChatterFix AI Chat Integration - Essential Files
  .env.example
  DOCKER_SETUP.md
  QUICK_START_VM.md
  VM_DOCKER_SETUP.md
  ai-chat-startup.sh
  core/cmms/app.py
  deploy-ai-chat-service.sh
Due: security-config-check, performance-check

🚨 Emergency AI Chat Backend Deployment Script
  deploy-emergency-backend.sh
Due: none

🧹 VM Cleanup and Restart Script - Fix Broken Deployment
  cleanup-and-restart-vm.sh
Due: none

🚀 Deploy Working Backend - Fix All Broken Functionality
  deploy-working-backend.sh
Due: none

🔧 Fix GitHub Actions Workflow - Deploy Backend Scripts
  .github/workflows/deploy.yml
Due: none

🎯 FIX THE ACTUAL RUNNING WORKFLOW! Deploy Backend Scripts
  .github/workflows/deploy-to-gcp.yml
Due: none

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
