Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

🤖 ChatterFix AI Assistant Suite - Complete Implementation
  core/cmms/app.py
  core/cmms/chatterfix_sales_ai.py
  core/cmms/claude_code_assistant.py
  core/cmms/integrate_technical_assistant.py
  core/cmms/intelligent_ai_assistant.py
  core/cmms/technical_ai_assistant.py
  core/cmms/templates/chatterfix_sales_chat.html
  core/cmms/templates/landing_page_demo.html
  core/cmms/templates/technical_ai_widget.html
  core/cmms/templates/universal_ai_assistant.html
Due: performance-check

🔧 Fix AI assistant integrations on v3.0 branch
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

🔧 Update .gitignore for Claude Code and temp files
  core/cmms/.gitignore
Due: none

🤖 Integrate AI team coordinator with Grok for sales assistant
  core/cmms/ai_team_coordinator.py
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
  fix-grok-integration.py
Due: performance-check

🔧 Fix AI sales assistant button click issues
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

🔧 Fix duplicate AI chat widget z-index conflict
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

🚨 URGENT: Deploy bulletproof sales chat fix with extensive logging
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

Update README.md
  README.md
Due: none

Merge AI features from remote repository
  README.md
  app/core/database.py
  app/routers/ai.py
  app/services/computer_vision.py
  app/services/voice_commands.py
  requirements.txt
Due: security-config-check, performance-check

Fix database schema: add actual_start and actual_end columns
  app/core/database.py
Due: performance-check

Add user authentication and settings system
  app/core/database.py
  app/routers/auth.py
  app/routers/settings.py
  app/services/auth_service.py
  app/templates/login.html
  main.py
  requirements.txt
Due: security-config-check, performance-check

Add signup functionality and GCP deployment infrastructure
  .env.example
  .github/workflows/deploy.yml
  Dockerfile
  app/routers/signup.py
  app/services/mock_data_service.py
  app/templates/signup.html
  deployment/DEPLOYMENT_GUIDE.md
  deployment/app.yaml
  deployment/cloudbuild.yaml
  deployment/setup-gcp.sh
  main.py
Due: security-config-check, performance-check

feat: Add landing page with email capture and user signup
  app/core/database.py
  app/routers/landing.py
  app/templates/landing.html
  main.py
Due: performance-check

feat: Transform landing page into high-converting sales machine
  app/templates/landing.html
Due: none

feat: Align landing page styling with main app design system
  app/templates/landing.html
Due: none

enhance: Apply comprehensive glassmorphism effects to main app styling
  app/static/css/style.css
Due: none

feat: Implement comprehensive demo mode for app exploration
  app/routers/demo.py
  app/static/css/style.css
  app/templates/base.html
  app/templates/landing.html
  main.py
Due: performance-check

feat: Restructure app routing - dashboard becomes main landing page
  app/routers/dashboard.py
  app/routers/landing.py
  app/routers/signup.py
  main.py
Due: performance-check

Fix AI services to support user-specific Gemini API keys
  app/routers/ai.py
  app/services/ai_assistant.py
  app/services/gemini_service.py
Due: performance-check

Fix crash: Add email-validator dependency for Pydantic
  requirements.txt
Due: security-config-check

Add mock photos and avatars for demo
  add_image_columns.py
  app/core/database.py
  app/routers/work_orders.py
  app/services/mock_data_service.py
  app/templates/assets_list.html
  app/templates/base.html
  app/templates/work_orders.html
Due: performance-check

Add auto-migration for image_url column in init_database
  app/core/database.py
Due: performance-check

Feature: Complete EV Factory Transformation & OpenAI Integration
  AI-SETUP.md
  CLI-DEPLOYMENT.md
  CUSTOM-DOMAIN.md
  DEPLOYMENT.md
  Dockerfile
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/ai.py
  app/routers/auth.py
  app/routers/health.py
  app/services/ai_assistant.py
  app/services/dashboard_service.py
  app/services/firebase_auth.py
  app/services/openai_service.py
  app/static/images/placeholder.svg
  app/templates/landing.html
  configure-domain.md
  deploy-cli.sh
  deploy-custom-domain.sh
  deploy-gcp.sh
  deploy-production.sh
  deployment/app.yaml
  deployment/cloudbuild-cloudrun.yaml
  deployment/cloudrun.yaml
  docker-compose.gcp.yml
  generate_demo_images.py
  main.py
  populate_demo_data.py
  requirements.txt
  setup-firebase.sh
  setup-gcp.sh
Due: security-config-check, performance-check

fix: Update GitHub Actions workflow to use modern auth and Cloud Run deployment
  .github/workflows/deploy.yml
Due: none

fix: Deploy to chatterfix-cmms service (correct service for chatterfix.com)
  .github/workflows/deploy.yml
Due: none

feat: Add Firestore demo data population script
  populate_firestore_demo.py
Due: performance-check

feat: Add comprehensive GitHub workflow suite
  .github/workflows/dependency-update.yml
  .github/workflows/monitoring.yml
  .github/workflows/security-scan.yml
  .github/workflows/staging-deploy.yml
  .github/workflows/test-and-lint.yml
Due: none

feat: Make all dashboard cards interactive with real pages
  app/routers/demo.py
  app/templates/dashboard.html
Due: performance-check

feat: Add interactive templates for diagnostics, parts, and reports
  app/templates/diagnostics_tool.html
  app/templates/parts_catalog.html
  app/templates/reports_dashboard.html
Due: none

fix: Enable Firebase auth with fallback handling for production deployment
  app/services/firebase_auth.py
  requirements.txt
Due: security-config-check, performance-check

fix: Skip pre-deployment checks for immediate Firebase deployment
  .github/workflows/deploy.yml
Due: none

fix: Add missing google-generativeai dependency
  requirements.txt
Due: security-config-check

fix: Add fallback handling for missing google.generativeai dependency
  app/services/gemini_service.py
Due: performance-check

fix: Resolve GitHub Actions deployment failures
  .github/workflows/deploy.yml
Due: none

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
