Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

fix: Remove GSAP tilt/rotation effects from cards
  app/static/js/ui-components.js
  app/templates/base.html
Due: none

feat: Implement AI team collaboration and voice/camera widgets
  AI_TEAM_COLLABORATION_GUIDE.md
  ai_team_collaboration_demo.py
  ai_widget_endpoints.py
  app/routers/ai.py
  app/routers/ai_team_collaboration.py
  app/services/predictive_engine.py
  app/templates/ai_assistant_widget.html
  app/templates/base.html
  app/templates/ceo_dashboard.html
  app/templates/iot_dashboard.html
Due: performance-check

fix: Resolve AI widget positioning and functionality issues
  app/static/js/voice-feedback.js
  app/templates/ai_assistant_widget.html
Due: none

fix: Completely resolve AI widget visibility and microphone conflicts
  app/static/js/voice-feedback.js
  app/templates/ai_assistant_widget.html
  app/templates/base.html
Due: none

fix: Resolve template rendering error and z-index issues
  app/templates/ai_assistant_widget.html
  app/templates/base.html
Due: none

fix: Resolve Alpine.js UI component errors and add text input to AI assistant
  app/routers/ceo_dashboard.py
  app/static/js/ui-components.js
  app/templates/ai_assistant_widget.html
  app/templates/ceo_dashboard.html
  app/templates/dashboard.html
  app/templates/manager_performance.html
  app/templates/manager_technicians.html
  services/cmms-core/app/templates/manager_assets.html
  services/cmms-core/app/templates/manager_inventory.html
  services/cmms-core/app/templates/manager_performance.html
  services/cmms-core/app/templates/manager_technicians.html
Due: performance-check

fix: Resolve dark mode contrast issues and remove error popup
  app/static/js/ui-components.js
  app/templates/analytics_dashboard.html
  app/templates/base.html
  app/templates/training_center.html
Due: none

feat: Add purchaser command center dashboard with full API integration
  app/routers/purchasing.py
  app/services/purchasing_service.py
  app/templates/components/vendor_scorecard.html
  app/templates/enhanced_purchasing.html
  app/templates/purchaser_dashboard.html
Due: performance-check

security: Remove exposed API keys from security audit document
  docs/FIREBASE_SECURITY_AUDIT.md
Due: none

security: Add comprehensive secret protection measures
  .gitignore
  scripts/clean-git-secrets.sh
Due: none

feat: Enhanced AI widget with equipment diagnosis capabilities
  app/routers/ai.py
  app/templates/ai_assistant_widget.html
Due: performance-check

feat: Update Gemini service to support both service account and API key auth
  app/services/gemini_service.py
Due: performance-check

feat: Add smart AI routing to use AI team for complex tasks
  app/routers/ai.py
  app/services/ai_assistant.py
  app/services/ai_router.py
Due: performance-check

feat: Enhanced AI router with caching, circuit breaker, and analytics
  app/routers/ai.py
  app/services/ai_router.py
Due: performance-check

perf: Optimize AI team with parallel execution and fast mode
  ai-team-service/app/ai_team/autogen_framework.py
  ai-team-service/app/api/v1/endpoints/ai_team.py
  ai-team-service/app/api/v1/models/requests.py
  ai-team-service/app/services/ai_orchestrator.py
Due: api-docs-check, performance-check

fix: Use correct INTERNAL_API_KEY in deploy script
  ai-team-service/deploy-ai-team.sh
Due: none

feat: Integrate fast_mode throughout AI assistant pipeline
  app/routers/ai.py
  app/services/ai_assistant.py
  app/services/ai_router.py
  app/services/ai_team_http_client.py
Due: performance-check

fix: Resolve GitHub CI/CD workflow failures
  app/services/ai_router.py
  requirements-dev.txt
Due: performance-check

feat: Make all AI API keys optional with graceful fallback
  app/core/config.py
  app/services/ai_router.py
  app/services/gemini_service.py
  app/services/openai_service.py
Due: performance-check

fix: Install requirements-dev.txt in CI workflow
  .github/workflows/ci-cd.yml
Due: none

fix: Resolve CI workflow errors
  .devcontainer/devcontainer.json
  .github/workflows/ci-cd.yml
  Attached HTML and CSS Context
  ai-team-test-task.json
  mcp_config.json
  package.json
  tests/test_linesmart_intelligence.py
Due: performance-check

fix: AI widget now returns real AI responses instead of placeholders
  app/routers/ai.py
Due: performance-check

fix: Improve Gemini service auth logic and fix model name
  app/services/gemini_service.py
Due: performance-check

docs: Update README with gRPC architecture details
  README.md
Due: none

feat: Implement Firebase Authentication and refactor related modules
  app/auth.py
  app/models/user.py
  app/routers/ai.py
  app/routers/analytics.py
  app/routers/dashboard.py
  app/routers/iot.py
  app/routers/settings.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/auth_service.py
  requirements.txt
Due: security-config-check, performance-check

feat: Populate Firestore database script and instructions
  POPULATE_FIRESTORE_INSTRUCTIONS.md
  scripts/populate_firestore.py
  seed_data.py
Due: performance-check

fix: Fix date calculation bug in populate_firestore script
  scripts/populate_firestore.py
Due: performance-check

fix: Demo uses real Firestore data, improve auth config security
  app/routers/auth.py
  app/routers/demo.py
  app/routers/onboarding.py
  app/routers/public_demo.py
  app/routers/training.py
  app/templates/login.html
Due: performance-check

refactor: Remove mock data service and old DB calls
  .claude/settings.local.json
  .gitignore
  app/routers/assets.py
  app/routers/inventory.py
  app/routers/manager.py
  app/routers/signup.py
  app/routers/work_orders.py
  app/services/analytics_service.py
  app/services/mock_data_service.py
  start_mcp_server.sh
Due: performance-check

fix: Load .env file in AI Team CLI script
  scripts/ai_team_cli.py
Due: performance-check

fix: Use correct model names in AI Team client
  app/clients/ai_team_client.py
Due: performance-check

feat: Refactor services to use FirestoreManager and remove fake db
  MISSING_AI_TEAM_API_KEYS.md
  ai_team/autogen_framework.py
  ai_team_refactor_result.json
  app/models/asset.py
  app/models/part.py
  app/models/work_order.py
  app/routers/work_orders.py
  app/services/asset_service.py
  app/services/dashboard_service.py
  app/services/export_service.py
  app/services/geolocation_service.py
  app/services/iot_sensor_service.py
  app/services/openai_service.py
  app/services/part_service.py
  app/services/planner_service.py
  app/services/purchasing_service.py
  app/services/push_notification_service.py
  app/services/voice_commands.py
  app/services/work_order_service.py
Due: performance-check

fix: Modal font colors now readable with white backgrounds
  app/templates/work_orders.html
Due: none

fix: UI/UX improvements - form accessibility, theme consistency, realistic data
  MISSING_AI_TEAM_API_KEYS.md
  POPULATE_FIRESTORE_INSTRUCTIONS.md
  app/static/css/style.css
  app/templates/planner_dashboard.html
  app/templates/work_orders.html
  scripts/populate_realistic_data.py
Due: performance-check

fix: FullCalendar now readable in light mode with theme-aware colors
  app/templates/planner_dashboard.html
Due: none

fix: Planner dashboard now shows data - fixed API prefix and service
  app/routers/planner_simple.py
  app/services/planner_service.py
Due: performance-check

feat: Enhanced calendar with date actions modal and dynamic events
  app/templates/planner_dashboard.html
Due: none

chore: Save AI Team refactor collaboration record
  ai_team_refactor_result.json
Due: none

fix: Analytics now working - added asyncio import and await calls
  app/routers/analytics.py
  app/services/analytics_service.py
Due: performance-check

feat: Demo analytics now shows data - added unauthenticated endpoints
  app/routers/demo.py
  app/templates/analytics_dashboard.html
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
