Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

Fix quality dashboard template corruption and undefined variables
  app/routers/demo.py
  app/routers/quality_management.py
  app/templates/quality_dashboard.html
Due: performance-check

Fix quality dashboard template corruption and add AI chat widget
  app/templates/quality_dashboard.html
Due: none

feat: Add secure secret management with get_secret_sync
  app/services/work_order_service.py
  app/utils/security.py
  main.py
  requirements.txt
Due: security-config-check, performance-check

fix: Add bleach and google-cloud-secret-manager to requirements-core.txt
  requirements-core.txt
Due: none

fix: Add email-validator for Pydantic email validation
  requirements-core.txt
Due: none

refactor: Firebase-only authentication, remove SQLite fallback
  app/routers/ai.py
  app/routers/auth.py
  app/services/firebase_auth.py
Due: performance-check

fix: User dropdown hidden behind navigation - add z-index fix
  app/templates/base.html
Due: none

feat: Add multi-tenant support and fix UI issues
  app/models/user.py
  app/services/firebase_auth.py
  app/services/work_order_service.py
  app/templates/base.html
  app/templates/dashboard.html
Due: performance-check

fix: Add missing API routes and improve dropdown z-index
  app/templates/base.html
  main.py
Due: performance-check

fix: Asset cards now properly toggle colors with light/dark mode
  app/static/css/style.css
Due: none

fix: Complete Firestore migration and add XSS protection
  app/routers/media.py
  app/routers/settings.py
  app/routers/user_management.py
  app/services/purchasing_service.py
  app/static/js/main.js
  app/templates/asset_detail.html
  app/templates/camera_interface.html
Due: performance-check

fix: Asset cards white design with health borders + production safety
  app/routers/dashboard.py
  app/templates/assets_list.html
  app/templates/index.html
Due: performance-check

fix: Correct navigation links for AI features tabs
  app/services/analytics_service_firestore.py
  app/templates/base.html
Due: performance-check

fix: Correct LineSmart training dashboard template reference
  app/routers/analytics.py
Due: performance-check

fix: Create proper template for AI Team dashboard
  app/routers/ai_team_collaboration.py
  app/templates/ai_team_dashboard.html
Due: performance-check

fix: Add scroll navigation buttons for tab overflow
  app/templates/base.html
Due: none

fix: Handle Safari private browsing localStorage restrictions
  app/static/js/demo-system.js
  app/static/js/ui-components.js
  app/templates/base.html
Due: none

feat: Add Part Lookup feature in header navigation
  app/routers/inventory.py
  app/templates/base.html
Due: performance-check

fix: Resolve analytics auth and Fix-it-Fred routing issues
  app/routers/analytics.py
  app/routers/fix_it_fred.py
Due: performance-check

feat: Add My Work Orders button in header navigation
  app/routers/work_orders.py
  app/templates/base.html
Due: performance-check

feat: Add bulk upload functionality for Parts and Work Orders
  app/routers/inventory.py
  app/routers/work_orders.py
  app/templates/inventory/bulk_import.html
  app/templates/work_orders_bulk_import.html
Due: performance-check

fix: Consistent modal styling across platform - light/dark mode support
  app/static/css/design-tokens.css
  app/static/css/style.css
  app/templates/assets_list.html
Due: none

fix: Improve Fix-it-Fred contrast and readability
  app/templates/fix_it_fred_interface.html
Due: none

feat: Add working Quick Actions to Purchasing POS page
  app/templates/purchasing_pos.html
Due: none

feat: Add comprehensive interactive demo tour system
  app/static/js/demo-system.js
  app/templates/base.html
Due: none

fix: Scan Asset button light mode styling and demo bar visibility
  app/static/css/style.css
  app/templates/base.html
Due: none

feat: Add multi-tenant organization support
  app/core/firestore_db.py
  app/routers/landing.py
  app/routers/organization.py
  app/routers/signup.py
  app/services/email_service.py
  app/services/organization_service.py
  main.py
Due: performance-check

feat: Complete multi-tenant data isolation for all routers
  app/core/db_adapter.py
  app/routers/assets.py
  app/routers/dashboard.py
  app/routers/inventory.py
  app/routers/work_orders.py
  app/services/auth_service.py
  app/templates/organization/accept_invite.html
  app/templates/organization/invalid_invite.html
Due: performance-check

feat: Add AI-guided work order creation assistant
  app/templates/work_orders.html
Due: none

fix: Backend AI endpoint now properly handles work order creation context
  app/routers/ai.py
Due: performance-check

fix: Rename AI button to 'Create with AI' and slow down widget animation
  app/static/css/style.css
  app/templates/work_orders.html
Due: none

docs: Update CLAUDE.md with session work log
  CLAUDE.md
Due: none

fix: Remove crazy animations from AI widget
  app/templates/ai_assistant_widget.html
  app/templates/quality_dashboard.html
Due: none

feat: Add hover bounce animation to AI widget
  app/static/css/style.css
  app/templates/ai_assistant_widget.html
Due: none

feat: Add premium licensing system and comprehensive demo data
  app/modules/iot_advanced/licensing.py
  app/modules/premium_licensing.py
  app/routers/premium_modules.py
  app/routers/quality_management.py
  app/routers/safety_management.py
  app/services/analytics_service_firestore.py
  app/services/demo_data_service.py
  app/services/firestore_licensing_service.py
  main.py
Due: performance-check

feat: Add rich demo data to analytics dashboard and fix navbar scroll
  app/routers/analytics.py
  app/services/analytics_service.py
  app/services/analytics_service_firestore.py
  app/templates/base.html
Due: performance-check

fix: Make left navbar scroll button always visible and clickable
  app/templates/base.html
Due: none

fix: Force left navbar scroll button to always be visible
  app/templates/base.html
Due: none

fix: Analytics dashboard data and navbar left scroll button
  app/routers/analytics.py
  app/templates/base.html
Due: performance-check

fix: Training tests now pass with proper auth mocking
  tests/test_training.py
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
