Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

Remove redundant pre-merge-checks workflow
  .github/workflows/pre-merge-checks.yml
Due: none

Fix flake8 linting errors
  app/core/db_adapter.py
  app/routers/demo.py
  app/services/health_monitor.py
  app/services/predictive_engine.py
Due: performance-check

fix: Disable reload in main.py for production deployment
  main.py
Due: performance-check

feat: Add comprehensive POS and file upload system
  app/routers/purchasing.py
  app/routers/work_orders.py
  app/templates/purchasing_pos.html
  app/templates/work_orders.html
  create_purchasing_tables.py
Due: performance-check

fix: Convert purchasing router from SQLite to Firestore
  app/routers/purchasing.py
Due: performance-check

fix: Update purchasing POS template for Firestore field names
  app/templates/purchasing_pos.html
Due: none

feat: Update demo purchasing to use full POS system
  app/routers/demo.py
Due: performance-check

feat: Add comprehensive onboarding system and barcode scanning capabilities
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/assets.py
  app/routers/onboarding.py
  app/templates/assets_list.html
  app/templates/onboarding_dashboard.html
  app/templates/role_onboarding.html
  app/templates/training_module_interactive.html
  app/templates/work_orders.html
  mcp_server.py
  requirements.txt
  start_mcp_server.sh
  test_mcp_validation.py
Due: security-config-check, performance-check

fix: Add missing barcode scanning dependencies to requirements.txt
  requirements.txt
Due: security-config-check

feat: Add comprehensive maintenance planner onboarding with PM automation, inspection templates, and meter reading systems
  app/routers/onboarding.py
Due: performance-check

feat: Add comprehensive demo onboarding routes for customer showcase
  app/routers/demo.py
Due: performance-check

trigger: Force deployment of enhanced onboarding to chatterfix.com
  DEPLOYMENT_LOG.md
Due: none

feat: Add enterprise-grade planner scheduler that surpasses MaintainX
  app/routers/planner.py
  app/services/advanced_scheduler_service.py
  app/services/pm_automation_engine.py
  app/services/scheduler_mock_data.py
  app/templates/advanced_scheduler.html
  app/templates/mobile_scheduler.html
  app/templates/scheduler_analytics.html
Due: performance-check

Add production database initialization script
  init_production_db.py
Due: performance-check

🧹 Clean project and finalize Firebase integration
  .gcloudignore
  VERSION.txt
  add_image_columns.py
  app/routers/demo.py
  app/templates/advanced_scheduler.html
  app/templates/planner_dashboard.html
  check_firebase.py
  create_purchasing_tables.py
  deploy-cli.sh
  deploy-custom-domain.sh
  deploy-direct.sh
  deploy-manual.sh
  dev-deploy.sh
  docker-compose.gcp.yml
  docker-compose.yml
  docker-fix.md
  fix-critical-issues.py
  generate_demo_images.py
  generate_mock_data.py
  init_firestore.py
  init_production_db.py
  main.py
  populate_demo_data.py
  populate_firestore_demo.py
  setup_dev_env.py
  setup_firebase.py
  setup_production.py
  sync-deploy.sh
  test_ai_search.py
  test_app.py
  test_chatterfix_e2e.py
  test_database.py
  test_env.py
  test_mcp_validation.py
  test_security_performance.py
  test_signup_firebase.py
Due: performance-check

🔧 Fix Firebase module loading in Cloud Run
  Dockerfile
  requirements.txt
Due: security-config-check

🎓 Restore complete training platform with Firestore integration
  app/core/firestore_db.py
  app/routers/training.py
  app/services/training_generator.py
  app/templates/training_module.html
  main.py
Due: performance-check

🔧 Final fix for APP_DESCRIPTION loading order
  main.py
Due: performance-check

Fix: Remove legacy SQLite dependencies to resolve Cloud Run startup crash
  app/routers/ai.py
  app/routers/ar.py
  app/routers/assets.py
  app/routers/dashboard.py
  app/routers/feedback.py
  app/routers/health.py
  app/routers/inventory.py
  app/routers/onboarding.py
  app/routers/settings.py
  app/routers/team.py
  app/routers/work_orders.py
  app/services/advanced_scheduler_service.py
  app/services/analytics_service.py
  app/services/auth_service.py
  app/services/computer_vision.py
  app/services/dashboard_service.py
  app/services/export_service.py
  app/services/gemini_service.py
  app/services/geolocation_service.py
  app/services/iot_sensor_service.py
  app/services/mock_data_service.py
  app/services/notification_service.py
  app/services/openai_service.py
  app/services/planner_service.py
  app/services/purchasing_service.py
  app/services/push_notification_service.py
  app/services/voice_commands.py
  deployment/pre-deploy-check.sh
  direct-deploy.sh
  test-local.sh
Due: performance-check

Fix: Hardcode version info to prevent NameError and add setuptools
  main.py
  requirements.txt
Due: security-config-check, performance-check

Fix: Separate Firebase imports to prevent Pyrebase failure from blocking Firestore
  app/services/firebase_auth.py
Due: performance-check

Fix: Enforce Firebase/Firestore usage, remove SQLite fallback, fix circular import in main.py
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/services/firebase_auth.py
  main.py
  requirements.txt
Due: security-config-check, performance-check

Fix planner UI transparency and restore training module demo data
  app/routers/demo.py
  app/templates/planner_dashboard.html
  app/templates/training_center.html
Due: performance-check

Commit remaining changes for deployment
  app/services/firebase_auth.py
  main.py
Due: performance-check

Add debug error handling to demo training
  app/routers/demo.py
Due: performance-check

Debug: Return Hello World for demo training
  app/routers/demo.py
Due: performance-check

Fix dashboard service crash by mocking DB calls
  app/services/dashboard_service.py
Due: performance-check

Link Training to LineSmart platform
  app/templates/base.html
  app/templates/team_dashboard.html
Due: none

Fix training module demo route - remove debug line blocking content
  app/routers/demo.py
Due: performance-check

Complete training module deployment preparation
  app/templates/base.html
Due: none

Fix: Restore Training link to LineSmart platform
  app/templates/base.html
Due: none

Redirect all training routes to external LineSmart platform
  app/routers/demo.py
  app/routers/training.py
Due: performance-check

Force rebuild test for training redirect
  app/routers/training.py
Due: performance-check

Restore local training functionality
  app/routers/demo.py
  app/routers/training.py
  app/templates/base.html
Due: performance-check

Force deployment update - ensure training link points to local route
  app/templates/base.html
Due: none

Fix training route URL handling - add redirect for /training without slash
  app/routers/training.py
Due: performance-check

Fix final training link in team dashboard - remove LineSmart redirect
  app/templates/team_dashboard.html
Due: none

Production-ready ChatterFix CMMS: Complete Firestore migration, email service, AI integration, and authentication
  .env.example
  app/core/db_adapter.py
  app/routers/dashboard.py
  app/routers/landing.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/computer_vision.py
  app/services/email_service.py
  app/services/health_monitor.py
  app/services/notification_service.py
  app/templates/training_center.html
  app/templates/training_module_interactive.html
  tests/README.md
  tests/conftest.py
  tests/test_training.py
Due: security-config-check, performance-check

Fix code formatting and critical linting issues
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/ai.py
  app/routers/ar.py
  app/routers/assets.py
  app/routers/dashboard.py
  app/routers/demo.py
  app/routers/feedback.py
  app/routers/inventory.py
  app/routers/landing.py
  app/routers/onboarding.py
  app/routers/planner.py
  app/routers/purchasing.py
  app/routers/settings.py
  app/routers/team.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/advanced_scheduler_service.py
  app/services/analytics_service.py
  app/services/auth_service.py
  app/services/computer_vision.py
  app/services/dashboard_service.py
  app/services/email_service.py
  app/services/firebase_auth.py
  app/services/geolocation_service.py
  app/services/health_monitor.py
  app/services/iot_sensor_service.py
  app/services/mock_data_service.py
  app/services/notification_service.py
  app/services/planner_service.py
  app/services/pm_automation_engine.py
  app/services/purchasing_service.py
  app/services/push_notification_service.py
  app/services/scheduler_mock_data.py
  app/services/training_generator.py
Due: performance-check

Add comprehensive public landing page and demo access
  app/routers/dashboard.py
  app/routers/landing.py
  app/routers/public_demo.py
  app/templates/ai_demo.html
  app/templates/assets.html
  app/templates/demo_features.html
  app/templates/public_landing.html
  main.py
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
