Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

🌐 Fix root endpoint for browser access
  main.py
Due: performance-check

🔄 REBUILD: AI Team restoring full application functionality
  main.py
Due: performance-check

🔧 Fix workflow: Use working gringo-core service instead of failing chatterfix-cmms
  .github/workflows/deploy-cloud-run.yml
Due: none

🤖 COMPLETE: gRPC AI Team with Autogen Multi-Model Collaboration
  ai_team/__init__.py
  ai_team/autogen_framework.py
  ai_team/grpc_client.py
  ai_team/grpc_server.py
  app/routers/ai_team_collaboration.py
  main.py
  protos/ai_team.proto
  requirements.txt
  start_ai_team.py
Due: security-config-check, performance-check

🎯 UNIFIED AI INTEGRATION: Complete Fix it Fred + LineSmart + AI Team System
  app/routers/fix_it_fred.py
  app/routers/linesmart_integration.py
  app/services/unified_ai_integration.py
  main.py
Due: performance-check

🎨 ESSENTIAL UI IMPROVEMENTS: Beautiful Calendar + Responsive AI Banner
  ai_team/autogen_framework.py
  app/services/gemini_service.py
  app/templates/dashboard.html
  app/templates/planner_dashboard.html
Due: performance-check

🎨 CRITICAL FIX: Beautiful Calendar for Services Template
  services/cmms-core/app/templates/planner_dashboard.html
Due: none

🔧 CRITICAL FIX: Add WebSocket timeout and error handling
  app/routers/dashboard.py
Due: performance-check

🔧 DEPLOYMENT FIX: Correct service name from chatterfix-cmms to gringo-core
  cloudbuild-prod.yaml
  deploy-production.sh
  deploy.sh
Due: none

🔧 CRITICAL FIX: Add missing public_demo router for /demo/features endpoint
  main.py
Due: performance-check

🔧 FIX: Firebase purchasing page with proper fallback
  app/core/firestore_db.py
  app/routers/demo.py
Due: performance-check

🎯 COMPLETE FIX: Purchasing Dashboard + Dark Mode Toggle + UX Improvements
  app/routers/purchasing.py
  app/services/purchasing_service.py
  app/static/css/style.css
  app/templates/base.html
  main.py
Due: performance-check

🌙 CRITICAL FIX: Enhanced Dark Mode Toggle for Production Deployment
  app/templates/base.html
Due: none

🧠 CRITICAL: AI Team Memory & Quality Assurance System
  CLAUDE.md
Due: none

🌙 ENHANCED: Complete Dark Mode Toggle Fix + Comprehensive AI Memory System
  CLAUDE.md
  app/templates/base.html
Due: none

🎨 ULTIMATE DARK MODE FIX + Complete Universal AI Platform
  CLAUDE.md
  ai_team/autogen_framework.py
  ai_team/knowledge_search.py
  ai_team/memory_system.py
  ai_team/ultimate_memory_system.py
  ai_team/universal_ai_platform.py
  app/routers/ai_team_collaboration.py
  app/static/css/style.css
  services/ai-services/ai_team/__init__.py
  services/ai-services/ai_team/autogen_framework.py
  services/ai-services/ai_team/grpc_client.py
  services/ai-services/ai_team/grpc_server.py
Due: performance-check

🔧 AI TEAM: BULLETPROOF Dark Mode Fix for Demo Environment
  app/static/css/style.css
  app/templates/base.html
Due: none

🔧 CRITICAL FIX: Missing Dashboard Routes - User Management & Analytics
  ai_team/dashboard/static/css/dashboard.css
  ai_team/dashboard/static/js/dashboard.js
  ai_team/dashboard/templates/dashboard.html
  ai_team/dashboard_requirements.txt
  ai_team/local_dashboard.py
  main.py
  run_ai_dashboard.py
Due: performance-check

🧠 Activate Enhanced AI Team deployment
  ai_team/README.md
Due: none

Fix CodeQL workflow and FastAPI root redirect
  .github/workflows/security-scan.yml
  app/routers/analytics.py
  app/routers/dashboard.py
  good-fixes.patch
  main.py
Due: performance-check

Add direct AI team endpoints to bypass router loading issues
  main.py
Due: performance-check

Add test endpoint to verify deployment
  main.py
Due: performance-check

Add training router to main.py - Fix training modules endpoints
  Dockerfile
  FIRESTORE_SECURITY_REPORT.md
  app/routers/ai_team_collaboration.py
  app/routers/analytics.py
  app/services/ai_team_http_client.py
  firebase.json
  firestore.rules
  main.py
  seed_data.py
  smoke_test.py
  test_public_access_denial.py
Due: performance-check

Add direct training module endpoints to bypass router loading issues
  main.py
Due: performance-check

Fix training router deployment issue - ensure training module access works
  DEPLOYMENT-OPTIMIZATION.md
  Dockerfile.optimized
  ai-team-service/.last-deploy
  app/routers/health.py
  benchmark-deployment.sh
  cloudbuild-optimized.yaml
  deploy-fast.sh
  populate_training_modules.py
  rollback.sh
  test-optimizations.sh
Due: performance-check

🚀 Comprehensive UX Enhancement: Prominent AI Widget & Modern Design
  app/static/css/style.css
  app/templates/base.html
Due: none

Fix training module detail pages - add missing route for /demo/training/modules/{module_id}
  app/routers/demo.py
Due: performance-check

Fix deployment target to chatterfix-cmms service
  deploy.sh
Due: none

Optimize AI team configuration for available API keys
  ai-team-service/app/ai_team/autogen_framework.py
Due: performance-check

Fix ChatterFix.com HTTP 405 error by adding root route
  ai-team-service/app/ai_team/memory_system.py
Due: performance-check

Add deployment lesson to AI team memory (CLAUDE.md)
  CLAUDE.md
  main.py
  test-ai-team.py
Due: performance-check

🚀 Add autonomous AI framework and fix root route redirect
  AUTONOMOUS_DEMO.md
  ai-team-service/app/autonomous_agents/autonomous_chatterfix_builder.py
  app/routers/autonomous_features.py
  main.py
Due: performance-check

🔧 Fix root route redirect to demo page
  main.py
Due: performance-check

🤖 Add AutoGen framework for autonomous AI team
  requirements.txt
Due: security-config-check

🔧 Fix AutoGen imports for new package structure
  ai-team-service/app/autonomous_agents/autonomous_chatterfix_builder.py
  app/routers/autonomous_features.py
Due: performance-check

🤖 Add Enhanced AI Chat Popup with AutoGen Integration
  app/static/js/ai-chat-popup.js
  app/templates/base.html
Due: none

🚀 Enhanced AI Chat with Streaming, Smart Suggestions & Memory
  app/static/js/ai-chat-popup.js
Due: none

Enhanced planner with clickable work orders and full editing capabilities
  app/routers/planner.py
  app/templates/planner_dashboard.html
Due: performance-check
