Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

✨ Transform Dashboard - Replace Technical Messages with Customer Vision
  core/cmms/app.py
Due: performance-check

🔧 Update Claude settings for professional SaaS platform
  .claude/settings.local.json
Due: none

🚀 Complete SaaS Platform Deployment Automation
  core/cmms/.github/workflows/deploy.yml
  core/cmms/deploy-saas-platform.sh
  core/cmms/test-deployment-setup.sh
Due: none

🎯 COMPLETE Managers Dashboard - Full Management Suite
  core/cmms/app.py
  core/cmms/templates/managers_dashboard.html
Due: performance-check

🤖 AI Assistant Integration - Managers Dashboard Enhanced
  core/cmms/templates/managers_dashboard.html
Due: none

🚀 REVOLUTIONARY AI FEATURES - Voice, OCR, Specialized Agents
  core/cmms/app.py
  core/cmms/templates/advanced_ai_assistant.html
Due: performance-check

🚀 COMPLETE AI EMPIRE - Production Ready Architecture
  core/cmms/.dockerignore.ai-brain
  core/cmms/.dockerignore.techbot
  core/cmms/Dockerfile.ai-brain
  core/cmms/Dockerfile.techbot
  core/cmms/FIX_IT_FRED_README.md
  core/cmms/TECHBOT_DEPLOYMENT_GUIDE.md
  core/cmms/app.py
  core/cmms/deploy-ai-brain-service.sh
  core/cmms/deploy-fix-it-fred.sh
  core/cmms/requirements.ai-brain.txt
  core/cmms/requirements.fred.txt
  core/cmms/technician_ai_assistant.py
  core/cmms/templates/manager_ai_agent.html
  core/cmms/test_equipment.txt
  core/cmms/test_voice.txt
Due: performance-check

🔗 Add Fix It Fred Integration - Complete AI Empire
  core/cmms/app.py
Due: performance-check

✅ Complete AI Empire Deployment - Health Check Fix
  core/cmms/app.py
Due: performance-check

🔐 Add GitHub Actions deployment with GCP authentication
  .claudeignore
  .github/workflows/deploy-to-gcp.yml
  .github/workflows/quick-update.yml
  GITHUB_SETUP.md
  clean-deploy-vm.sh
Due: none

🤖 Add Ollama Integration for Fix It Fred
  core/cmms/app.py
  core/cmms/fix_it_fred_ollama.py
Due: performance-check

🚀 Fix It Fred Deployment API - Natural Language CI/CD
  DEPLOYMENT_API_SETUP.md
  core/cmms/app.py
  core/cmms/fix_it_fred_gateway.py
  core/cmms/fix_it_fred_ollama.py
  core/cmms/github_deployment_api.py
Due: api-docs-check, performance-check

📚 Complete Integration Documentation - Fix It Fred AI System
  COMPLETE_INTEGRATION_SUMMARY.md
Due: none

🔐 GitHub Secrets Integration - Secure Deployment
  .github/workflows/deploy-on-command.yml
  GITHUB_SECRETS_SETUP.md
  core/cmms/github_deployment_api.py
Due: api-docs-check, performance-check

🔥 Enable Fix It Fred Hot Reload Deployment System
  .github/workflows/live-sync.yml
  hot-reload-app.py
  hot-reload-update.sh
  quick-update.sh
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
