Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

api-docs-check:
  name: API Documentation Check
  entry: python scripts/validate_api_docs.py
  language: python
  pass_filenames: false

migration-check:
  name: Database Migration Check
  entry: python scripts/validate_migrations.py
  language: python
  pass_filenames: false

security-config-check:
  name: Security Configuration Check
  entry: bash scripts/security_check.sh
  language: system
  pass_filenames: false

performance-check:
  name: Performance Test Check
  entry: python scripts/performance_check.py
  language: python
  pass_filenames: false

Fix Security Audit workflow - track mobile package-lock.json
  .gitignore
  mobile/package-lock.json
Due: none

Fix Security Audit workflow - update Node.js and sync lock file
  .github/workflows/security-audit.yml
  mobile/package-lock.json
Due: none

Fix mobile package-lock.json sync issue
  mobile/package-lock.json
Due: none

Fix ai-learn-from-failures.yml YAML syntax error
  .github/workflows/ai-learn-from-failures.yml
Due: none

Add Safety module to mobile app and fix data handling errors
  mobile/App.tsx
  mobile/assets/adaptive-icon.png
  mobile/assets/favicon.png
  mobile/assets/icon.png
  mobile/assets/notification-icon.png
  mobile/assets/splash.png
  mobile/src/screens/AssetsScreen.tsx
  mobile/src/screens/IncidentReportScreen.tsx
  mobile/src/screens/SafetyChatScreen.tsx
  mobile/src/screens/SafetyDashboardScreen.tsx
  mobile/src/screens/SafetyInspectionScreen.tsx
  mobile/src/screens/SafetyObservationScreen.tsx
  mobile/src/screens/WorkOrdersScreen.tsx
  mobile/src/services/api.ts
Due: none

Fix npm security vulnerabilities using overrides
  mobile/package-lock.json
  mobile/package.json
Due: none

Fix npm security vulnerabilities in chatterfix-relay
  chatterfix-relay/package.json
Due: none

Fix CameraScreen using deprecated CameraView API
  mobile/src/screens/CameraScreen.tsx
Due: none

Fix Firebase Auth persistence for React Native
  mobile/src/services/firebase.ts
Due: none

Connect failure workflow to AI Team memory system
  .github/workflows/ai-learn-from-failures.yml
Due: none

Fix TypeScript config for React Native 0.73+
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
Due: none

fix: Training dashboard form controls visibility
  app/templates/training_center.html
Due: none

fix: Comprehensive UI styling consistency for dark/light mode
  CLAUDE.md
  app/templates/asset_detail.html
  app/templates/assets_list.html
  app/templates/manager_assets_table.html
  app/templates/manager_parts_table.html
  app/templates/manager_work_orders_table.html
  app/templates/onboarding_dashboard.html
  app/templates/purchasing_pos.html
  app/templates/settings.html
  app/templates/work_orders.html
Due: none

fix: Training table styling + remove Auto Features nav tab + quick deploy
  app/routers/zapier.py
  app/services/zapier_service.py
  app/templates/base.html
  app/templates/training_center.html
  scripts/deploy-quick.sh
Due: api-docs-check, performance-check

fix: Add explicit badge styling to training page
  app/templates/training_center.html
Due: none

fix: Add dark-mode specific overrides for training page
  app/templates/training_center.html
Due: none

fix: Add alert styling for AI answer in training page
  app/templates/training_center.html
Due: none

fix: Add btn-warning and other button variants to training page
  app/templates/training_center.html
Due: none

fix: Add authentication and org-scoping to training endpoints
  app/routers/training.py
  app/services/training_generator.py
Due: performance-check

feat: Allow guests 10 free AI queries before requiring sign-in
  app/routers/training.py
Due: performance-check

fix: Critical security and code quality improvements
  app/routers/factory.py
  app/routers/logistics.py
  app/routers/planner.py
  app/templates/add_user_form.html
  app/templates/ai_team_dashboard.html
  app/templates/dashboard.html
  app/templates/dashboard_v2.html
  app/templates/training_center.html
Due: performance-check

fix: Improve auth.py error handling, timeouts, and role flexibility
  app/auth.py
Due: performance-check

refactor: Replace deprecated bleach with nh3 for HTML sanitization
  app/services/voice_commands.py
  app/utils/sanitization.py
  app/utils/security.py
  requirements-core.txt
  requirements.txt
Due: security-config-check, performance-check

security: Update python-multipart to 0.0.22 (CVE-2026-24486)
  requirements-core.txt
  requirements.txt
Due: security-config-check

fix: Update async-storage to 2.2.0 for firebase compatibility
  mobile/package-lock.json
  mobile/package.json
Due: none

chore: add AI_STATE.yaml to persist project state and decisions
  AI_STATE.yaml
Due: none

chore: mark session outcome as successful
  AI_STATE.yaml
Due: none

docs: Clean up README and add PRODUCTION_NOTES
  PRODUCTION_NOTES.md
  README.md
Due: none

feat: Add repo-review tool for read-only repository analysis
  tools/repo-review/README.md
  tools/repo-review/ai_review.py
  tools/repo-review/analyzers.py
  tools/repo-review/cloner.py
  tools/repo-review/detector.py
  tools/repo-review/reporter.py
  tools/repo-review/review.py
Due: performance-check

feat: Add web UI for repo-review tool
  app/routers/repo_review.py
  app/templates/tools/repo_review.html
  main.py
Due: performance-check

chore: remove repo-review tool (moved to ai-repo-review)
  app/routers/repo_review.py
  app/templates/tools/repo_review.html
  main.py
  tools/repo-review/README.md
  tools/repo-review/ai_review.py
  tools/repo-review/analyzers.py
  tools/repo-review/cloner.py
  tools/repo-review/detector.py
  tools/repo-review/reporter.py
  tools/repo-review/review.py
Due: performance-check

fix: Address code quality issues from ai-repo-review
  ai-team-service/app/ai_team/performance_optimizer.py
  ai-team-service/deploy-ai-team.sh
  ai_team/performance_optimizer.py
  app/services/dashboard_service.py
  app/services/firestore_cost_monitor.py
  app/services/kpi_analytics_service.py
Due: performance-check

fix: Replace deprecated datetime.utcnow() with datetime.now(timezone.utc)
  ai-team-service/app/tools/code_reviewer.py
  ai-team-service/app/tools/database_generator.py
  ai-team-service/app/tools/fullstack_generator.py
  ai-team-service/app/tools/test_generator.py
  app/middleware/error_tracking.py
  app/models/logistics.py
  app/routers/health.py
  app/utils/auth.py
  services/cmms-core/app/middleware/error_tracking.py
  services/cmms-core/app/routers/health.py
Due: performance-check

fix: Fix remaining datetime.utcnow() in test_generator template
  ai-team-service/app/tools/test_generator.py
Due: performance-check

fix: Update datetime template values in test_generator
  ai-team-service/app/tools/test_generator.py
Due: performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$
