Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

🤖 Fix It Fred DevOps Production Deployment Complete
  FRED_DEVOPS_STATUS.md
Due: none

🔄 Auto-sync ChatterFix CMMS - 2025-10-19 10:55:22
  core/cmms/.github/workflows/auto-deploy-to-vm.yml
  core/cmms/sync-and-deploy.sh
Due: none

🔄 Auto-sync ChatterFix CMMS - 2025-10-19 11:00:31
  core/cmms/SYNC_WORKFLOW_GUIDE.md
  core/cmms/app.py
Due: performance-check

🤖 Fix It Fred Universal AI Assistant - Complete
  FIX_IT_FRED_UNIVERSAL_README.md
  fix_it_fred_examples.py
  fix_it_fred_sdk.js
  fix_it_fred_sdk.py
  fix_it_fred_universal_ai.py
Due: performance-check

🔧 Fix It Fred & ChatterFix Integration Complete
  chatterfix_ai_helper.py
  core/cmms/work_orders_service.py
Due: performance-check

🚀 ChatterFix Production Deployment Complete on VM
  deploy-integrated-chatterfix-to-vm.sh
Due: none

🔧 Post-Consolidation Development Framework
  backend/app/.pre-commit-config.yaml
Due: none

📋 Phase 2 Enterprise Growth Prompt Deck Complete
  .github/workflows/protect-enterprise.yml
  DEVELOPER_CHECKLIST.md
  ENTERPRISE_GROWTH_PROMPTS.md
  README.md
  chatterfix_app_with_db.py
  core/cmms/chatterfix_app_with_db.py
  docs/maintenance/CLAUDE_PROMPT_DECK_PHASE2.md
  docs/maintenance/cleanup_summary.md
  legacy/coordination_scripts/ai_team_enterprise_meeting.py
Due: performance-check

🚀 Phase 3 Enterprise Development Complete - ChatterFix v3.0
  AI_LOOK.md
  ARCHITECTURE_CONSOLIDATION_PLAN.md
  PHASE3_COMPLETION_SUMMARY.md
  ai/services/ai_brain_service.py
  document_intelligence.py
  enterprise_security.py
  performance_optimization.py
Due: performance-check

🚀 Phase 5 AI Team Coordination & Global Launch Complete
  .env.phase3
  Dockerfile.documents
  Dockerfile.performance
  Dockerfile.security
  ai/services/ai_brain_service.py
  ai/services/gtm_automation.py
  deploy_phase3_demo.py
  docs/ai_team_roles.md
  docs/maintenance/CLAUDE_PROMPT_DECK_PHASE5.md
  infra/scripts/global_launch.py
  phase3_deployment_summary.json
  requirements.txt
Due: security-config-check, performance-check

🚀 Phase 6 Enterprise Acquisition & Series A Launch Complete
  ai/services/ai_sales_ops.py
  docs/business/enterprise_acquisition_plan.md
  docs/investors/ChatterFix_SeriesA_Deck.md
  docs/maintenance/CLAUDE_PROMPT_DECK_PHASE6.md
  infra/scripts/enterprise_pilot_launcher.py
Due: performance-check

🏆 Phase 6 Enterprise Business Systems Complete - All 8 Prompts Delivered
  ai/services/marketing_studio.py
  backend/app/api/customer_success.py
  backend/app/api/demo_hub.py
  backend/app/api/marketplace_integration.py
  frontend/src/pages/demo_portal/DemoPortal.tsx
Due: api-docs-check, performance-check

🧠 ChatterFix Phase 6B CMMS Production Optimization Complete
  .env.production
  ai_brain_health_monitor.py
  backend/Dockerfile
  backend/app/analytics/Dockerfile
  backend/app/analytics/customer_success_metrics.py
  backend/app/analytics/requirements.txt
  backend/app/analytics/series_a_data_room.py
  backend/backend/Dockerfile
  backend/backend/cmms_service.py
  backend/backend/requirements.txt
  backend/cmms_service.py
  backend/docs/investors/README.md
  backend/requirements.txt
  cloudsql_pooling_config.yaml
  diagnostics_report.json
  docs/investors/README.md
Due: performance-check

🧹 Local Repository Cleanup Phase 2 - Additional File Organization
  CLEANUP_REPORT.json
  configuration/CLEANUP_REPORT.json
  configuration/VALIDATION_REPORT.json
  documentation/cleanup_log.txt
Due: none

✅ Phase 7 Validation Complete – Core CMMS Operational (70%)
  PHASE7_ENHANCED_CMMS_REPORT.md
  attachments_audit.json
  diagnostics_report.json
  phase7_validation_report.md
Due: none

feat(ui): enhance dashboard UX and add performance analytics
  .github/workflows/deploy.yml
  consolidated_cmms_service.py
  frontend/Dockerfile
  frontend/deploy-phase6-enhanced.sh
  frontend/phase6-enhanced-gateway.py
  monitoring-dashboard.yaml
  tests/test_api_endpoints.py
Due: api-docs-check, performance-check

feat(ai): add predictive maintenance, anomaly detection, and AI insights
  consolidated_cmms_service.py
  consolidated_requirements.txt
  deploy-phase7-ai-backend.sh
  frontend/Dockerfile
  frontend/deploy-phase7-frontend.sh
  frontend/phase7-ai-enhanced-gateway.py
  modules/ai_insights.py
  modules/anomaly_detection.py
  modules/predictive_maintenance.py
Due: performance-check

feat(bi): add business intelligence analytics and automation control layer
  core/cmms/app.py
  diagnostics_report.json
Due: performance-check

docs: add Launch Manifest and Claude Prompt Pack for production scaling
  CLAUDE_PROMPTS_NEXT.md
  LAUNCH_MANIFEST.md
Due: none

feat(ui): unify brand colors across BI dashboard and main interface
  core/cmms/app.py
Due: performance-check

fix(ui): enforce brand colors with inline styles in BI dashboard
  core/cmms/app.py
Due: performance-check

🎨 Fix unified styling across all ChatterFix services
  app.py
  core/cmms/assets_service.py
  core/cmms/parts_service.py
  core/cmms/templates/ai_collaboration_dashboard.html
  core/cmms/templates/ai_management_dashboard.html
  core/cmms/templates/chatterfix_unified_theme.css
  core/cmms/templates/main_platform_dashboard.html
  core/cmms/templates/saas_management_dashboard.html
  core/cmms/templates/unified_managers_dashboard.html
  core/cmms/work_orders_service.py
Due: api-docs-check, performance-check

🚀 ChatterFix CMMS - Clean Production Deploy
  .gitignore
  README.md
  core/cmms/Dockerfile
  core/cmms/ai-team-integration-package/README.md
  core/cmms/ai-team-integration-package/ai_team_integration.py
  core/cmms/ai-team-integration-package/example_ai_app.py
  core/cmms/ai-team-integration-package/requirements.txt
  core/cmms/ai_team_integration.py
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
  core/cmms/deploy-chatterfix-nexus.sh
  core/cmms/example_ai_app.py
  core/cmms/requirements_nexus.txt
Due: performance-check

🔧 Fix ChatterFix CMMS - Complete Working Version
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

🤖 Setup Team Integration & Auto-Deploy
  core/cmms/.github/workflows/auto-deploy.yml
  core/cmms/TEAM_INTEGRATION.md
Due: none

🔧 Fix parts_create database schema mismatch
  core/cmms/Dockerfile
  core/cmms/chatterfix_enterprise_v3_ai_powerhouse.py
Due: performance-check

🔄 Sync with deployed version - ChatterFix Enterprise v3.0 AI Powerhouse
  core/cmms/app.py
  core/cmms/app_gateway_backup.py
Due: performance-check
