Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

feat: update demo seeding for enhanced demo experience
  app/services/organization_service.py
Due: performance-check

fix: add requirements-core.txt for Docker build
  requirements-core.txt
Due: none

feat: Add enterprise package inquiry endpoint and modal
  app/services/email_service.py
  app/templates/base.html
  main.py
Due: performance-check

fix: Asset editing and planner calendar functionality
  app/routers/assets.py
  app/routers/planner.py
  app/templates/asset_detail.html
Due: performance-check

feat: Complete Firebase configuration for mobile and web apps
  CLAUDE.md
  app/routers/auth.py
  app/routers/landing.py
  mobile/src/services/firebase.ts
Due: performance-check

feat: Complete AI Team Enhancement System
  app/routers/ai_team.py
  app/services/ai_team_intelligence.py
  main.py
  scripts/ai-precommit-review.py
Due: performance-check

docs: Add AI Team Intelligence System documentation to CLAUDE.md
  CLAUDE.md
Due: none

feat: Mobile app authentication with Firebase
  mobile/App.tsx
  mobile/FIREBASE_SETUP.md
  mobile/package.json
  mobile/src/components/OfflineIndicator.tsx
  mobile/src/contexts/AuthContext.tsx
  mobile/src/screens/LoginScreen.tsx
  mobile/src/screens/SettingsScreen.tsx
  mobile/src/screens/SignupScreen.tsx
  mobile/src/services/api.ts
  requirements.txt
Due: security-config-check

fix: Remove empty types array from mobile tsconfig.json
  mobile/tsconfig.json
Due: none

feat: Add PM automation Firestore methods and indexes (Phase 1)
  app/core/firestore_db.py
  firebase.json
  firestore.indexes.json
Due: performance-check

feat: Refactor PM automation engine to use Firestore (Phase 2)
  app/services/pm_automation_engine.py
Due: performance-check

feat: Update planner PM endpoints for multi-tenant Firestore (Phase 3)
  app/routers/planner.py
Due: performance-check

feat: Add Cloud Scheduler endpoints for automated PM generation (Phase 4)
  app/routers/health.py
Due: performance-check

feat: Add idempotency check to prevent duplicate PM work orders
  app/core/firestore_db.py
  app/services/pm_automation_engine.py
  docs/pm-automation-schema.md
  firestore.indexes.json
Due: performance-check

refactor: Make PM automation engine production-ready
  app/services/pm_automation_engine.py
  app/services/pm_repo_firestore.py
Due: performance-check

feat: Add PM Automation API endpoints for Cloud Run service
  app/routers/pm_automation.py
  main.py
Due: performance-check

feat: Enforce multi-tenant scoping with centralized org_id helper
  app/core/firestore_db.py
  app/core/multi_tenant.py
  app/routers/pm_automation.py
  tests/test_multi_tenant.py
Due: performance-check

feat: Implement Cloud Scheduler triggering for daily PM generation
  app/routers/health.py
  docs/cloud-scheduler-setup.md
Due: performance-check

docs: Add production launch checklist and PM smoke test script
  docs/production-launch-checklist.md
  scripts/smoke-test-pm.py
  scripts/smoke-test-pm.sh
Due: performance-check

fix: Voice command endpoint and mobile API integration
  app/services/voice_commands.py
  mobile/src/services/api.ts
Due: performance-check

Comprehensive code and architecture review with actionable recommendations (#53)
  CODE_ARCHITECTURE_REVIEW.md
  REVIEW_ACTION_ITEMS.md
  REVIEW_EXECUTIVE_SUMMARY.md
Due: none

security: Apply 3 critical fixes from Copilot review
  app/utils/auth.py
  main.py
  requirements.txt
Due: security-config-check, performance-check

feat(mobile): Show dashboard first, login optional
  mobile/App.tsx
  mobile/src/components/DemoBanner.tsx
  mobile/src/screens/SettingsScreen.tsx
Due: none

docs: Consolidate all documentation into /documents folder
  CLAUDE.md
  documents/AI_TEAM_COLLABORATION_GUIDE.md
  documents/AI_TEAM_COORDINATION.md
  documents/AI_TEAM_PROTOCOLS.md
  documents/AI_TEAM_WORKFLOW.md
  documents/AUTONOMOUS_AI_SYSTEM_DOCUMENTATION.md
  documents/AUTONOMOUS_AI_SYSTEM_SUMMARY.md
  documents/AUTONOMOUS_DEMO.md
  documents/CHATTERFIX_COMPLETE_DOCUMENTATION.md
  documents/CODE_ARCHITECTURE_REVIEW.md
  documents/COMPONENT_SHOWCASE.html
  documents/COMPREHENSIVE_IMPLEMENTATION_PLAN.md
  documents/DEPENDENCY_ANALYSIS_REPORT.md
  documents/DEPLOYMENT-OPTIMIZATION.md
  documents/DEPLOYMENT.md
  documents/FIREBASE_SECURITY_AUDIT.md
  documents/FIRESTORE_SECURITY_REPORT.md
  documents/IOT_ADVANCED_MODULE.md
  documents/LINESMART_INTELLIGENCE_README.md
  documents/MIGRATION_GUIDE.md
  documents/MONITORING.md
  documents/README.md
  documents/REVIEW_ACTION_ITEMS.md
  documents/REVIEW_EXECUTIVE_SUMMARY.md
  documents/UI_STYLE_GUIDE.md
  documents/VOICE_AI_ROADMAP.md
  documents/cloud-scheduler-setup.md
  documents/pm-automation-schema.md
  documents/production-launch-checklist.md
Due: none

chore: Remove artifact file from git tracking
  Attached HTML and CSS Context
Due: none

fix: Update modal z-index to appear above navigation bar
  app/templates/base.html
Due: none

feat: Mobile voice/OCR features, remove hardcoded secrets, consolidate AI
  app/services/AI_SERVICES_README.md
  mobile/.env.example
  mobile/.gitignore
  mobile/App.tsx
  mobile/app.config.ts
  mobile/package.json
  mobile/src/screens/CameraScreen.tsx
  mobile/src/screens/VoiceCommandsScreen.tsx
  mobile/src/services/api.ts
  mobile/src/services/firebase.ts
Due: none

fix: Add pm_automation_engine alias for backwards compatibility
  app/services/pm_automation_engine.py
Due: performance-check

fix: Resolve CI/CD workflow failures
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  .github/workflows/security-scan.yml
Due: none

chore: Extend Expo tsconfig base in mobile app
  mobile/tsconfig.json
Due: none

fix: Correct package versions and remove conflicting CodeQL workflow
  .github/workflows/codeql.yml
  requirements.txt
Due: security-config-check

fix: Update pyautogen and grpcio to Python 3.12 compatible versions
  requirements.txt
Due: security-config-check

fix: Correct opencv-python-headless version
  requirements.txt
Due: security-config-check

feat: Context-aware voice commands and enterprise security hardening
  app/models/voice_context.py
  app/routers/ai.py
  app/routers/media.py
  app/routers/work_orders.py
  app/services/voice_commands.py
  app/utils/sanitization.py
  mobile/src/contexts/AssetContext.tsx
  mobile/src/screens/VoiceCommandsScreen.tsx
  mobile/src/services/api.ts
  mobile/src/types/voice.ts
Due: performance-check

feat: Add Confidence Loop with TTS feedback for voice commands
  mobile/src/screens/VoiceCommandsScreen.tsx
  mobile/src/services/FeedbackService.ts
Due: none

feat: Add Glasses Mode (Mock Smart Glasses HUD)
  mobile/App.tsx
  mobile/src/screens/GlassesHUDScreen.tsx
  mobile/src/screens/SettingsScreen.tsx
Due: none

feat: Add demo data generation script for voice command testing
  scripts/generate_demo_data.py
Due: performance-check

feat: Add Field Mode for outdoor/technician use
  mobile/App.tsx
  mobile/src/contexts/FieldModeContext.tsx
  mobile/src/screens/SettingsScreen.tsx
  mobile/src/screens/WorkOrdersScreen.tsx
Due: none

feat: Add Vision Logistics module for pallet safety inspection
  app/models/logistics.py
  app/routers/logistics.py
  main.py
Due: performance-check

docs: Add 5 new lessons and session log from December 19 work
  CLAUDE.md
Due: none
