Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

fix: Pin Expo package versions for compatibility
  mobile/package.json
Due: none

fix: Correct auth import in logistics router
  app/routers/logistics.py
Due: performance-check

chore: Add trailing newline to pm_automation_engine.py
  app/services/pm_automation_engine.py
Due: performance-check

fix: Update GitHub Actions to valid versions
  .github/workflows/ci-cd.yml
  .github/workflows/security-audit.yml
Due: none

fix: Optimize AI-Enhanced Development job for disk space
  .github/workflows/ci-cd.yml
Due: none

feat: Add GitHub templates and automation for faster development
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-merge-dependabot.yml
Due: none

feat: Add GitHub CLI aliases for faster development
  scripts/gh-aliases.sh
Due: none

feat: Full AI Team GitHub integration
  .github/workflows/ai-learn-from-failures.yml
  .github/workflows/ci-cd.yml
Due: none

feat: Self-Orchestrating AI Team with Mixture of Agents
  .claude/commands/ai-team.md
  app/services/ai_consensus_engine.py
  app/services/codebase_indexer.py
Due: performance-check

feat: Add dynamic maintenance_score to Asset (AI Team Consensus)
  app/models/asset.py
Due: performance-check

feat(mobile): Implement ChatterFix Relay - Voice Gateway for Industrial CMMS
  chatterfix-relay/.gitignore
  chatterfix-relay/README.md
  chatterfix-relay/app.json
  chatterfix-relay/app/(auth)/_layout.tsx
  chatterfix-relay/app/(auth)/login.tsx
  chatterfix-relay/app/(auth)/signup.tsx
  chatterfix-relay/app/_layout.tsx
  chatterfix-relay/app/assets/[id].tsx
  chatterfix-relay/app/assets/index.tsx
  chatterfix-relay/app/index.tsx
  chatterfix-relay/app/logs/index.tsx
  chatterfix-relay/app/settings.tsx
  chatterfix-relay/assets/adaptive-icon.png
  chatterfix-relay/assets/favicon.png
  chatterfix-relay/assets/icon.png
  chatterfix-relay/assets/splash-icon.png
  chatterfix-relay/babel.config.js
  chatterfix-relay/global.css
  chatterfix-relay/metro.config.js
  chatterfix-relay/nativewind-env.d.ts
  chatterfix-relay/package.json
  chatterfix-relay/src/db/index.ts
  chatterfix-relay/src/hooks/index.ts
  chatterfix-relay/src/hooks/useDatabase.ts
  chatterfix-relay/src/services/audioUploader.ts
  chatterfix-relay/src/services/authService.ts
  chatterfix-relay/src/services/backendSync.ts
  chatterfix-relay/src/services/firebase.ts
  chatterfix-relay/src/services/index.ts
  chatterfix-relay/src/services/voiceCommandService.ts
  chatterfix-relay/src/services/voiceRecorder.ts
  chatterfix-relay/src/services/whisperTranscription.ts
  chatterfix-relay/src/stores/appStore.ts
  chatterfix-relay/src/stores/index.ts
  chatterfix-relay/src/types/index.ts
  chatterfix-relay/tailwind.config.js
  chatterfix-relay/tsconfig.json
Due: none

feat: Add Smart Ingestion Engine for enterprise onboarding
  app/routers/import_service.py
  app/templates/data_import.html
  main.py
  requirements.txt
Due: security-config-check, performance-check

feat: Add SafetyFix "Guardian Angel" module for proactive safety
  app/models/safety.py
  app/routers/safety.py
  chatterfix-relay/src/services/BlackBox.ts
  chatterfix-relay/src/services/FallDetection.ts
  chatterfix-relay/src/services/index.ts
  main.py
Due: performance-check

feat: Add Gringo Industrial OS - FactoryFix + QualityFix modules
  app/models/factory.py
  app/models/quality.py
  app/routers/factory.py
  app/routers/quality.py
  app/services/event_bus.py
  main.py
Due: performance-check

feat: Update AI widget to brain icon with neural glow animation
  app/templates/ai_assistant_widget.html
Due: none

fix: Brain icon z-index - ensure icon appears above neural ring
  app/templates/ai_assistant_widget.html
Due: none

fix: Dark mode - replace hardcoded rgba(0,0,0) with CSS variables
  app/static/css/style.css
  app/templates/asset_detail.html
  app/templates/dashboard.html
  app/templates/fix_it_fred_interface.html
  app/templates/purchasing_pos.html
  app/templates/training_module_interactive.html
Due: none

feat: Complete Smart Data Import with Firestore insertion and org-scoping
  app/routers/import_service.py
  app/routers/inventory.py
  app/templates/manager_dashboard.html
Due: performance-check

fix: Use proper async create_document method for bulk import
  app/routers/import_service.py
Due: performance-check

feat: Add navigation links to Smart Data Import
  app/templates/base.html
  app/templates/dashboard.html
Due: none

feat: Add Smart Import card to main dashboard (index.html)
  app/templates/index.html
Due: none

fix: Light mode support for Smart Data Import page
  app/templates/data_import.html
Due: none

feat: AI Team improvements - session tracking, auto-context, error categorization
  app/routers/ai_team.py
  app/services/ai_team_intelligence.py
Due: performance-check

docs: Professional repo makeover - licensing, policies, and templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  PRIVACY_POLICY.md
  README.md
  SECURITY.md
  TERMS_OF_SERVICE.md
Due: none

fix: Use CSS variables for theme-consistent dashboards
  app/templates/homepage_dashboard.html
  app/templates/index.html
Due: none

feat: Voice crash prevention, Ghost Mode auto-sync, and PWA install prompt
  CLAUDE.md
  chatterfix-relay/app.json
  chatterfix-relay/app/_layout.tsx
  chatterfix-relay/app/index.tsx
  chatterfix-relay/assets/adaptive-icon.png
  chatterfix-relay/assets/apple-touch-icon.png
  chatterfix-relay/assets/favicon.png
  chatterfix-relay/assets/icon-192.png
  chatterfix-relay/assets/icon-512.png
  chatterfix-relay/assets/icon.png
  chatterfix-relay/assets/splash-icon.png
  chatterfix-relay/package.json
  chatterfix-relay/public/manifest.json
  chatterfix-relay/scripts/generate-icons.js
  chatterfix-relay/src/components/InstallPrompt.tsx
  chatterfix-relay/src/components/index.ts
  chatterfix-relay/src/hooks/index.ts
  chatterfix-relay/src/hooks/useNetworkStatus.ts
  chatterfix-relay/src/services/backendSync.ts
  chatterfix-relay/src/services/voiceCommandService.ts
  chatterfix-relay/src/services/voiceRecorder.ts
  chatterfix-relay/src/services/whisperTranscription.ts
  documents/GOOGLE_CLOUD_APPLICATION.md
  mobile/src/screens/GlassesHUDScreen.tsx
Due: none

fix: Add multi-tenant org filtering and date filtering to safety endpoints
  app/routers/logistics.py
  app/routers/safety.py
Due: performance-check

Add AGPL-3.0 license for code protection
  LICENSE
Due: none

Clean up sensitive files and improve .gitignore
  .env.phase3
  .env.production
  .gitignore
  core/cmms/.env.ai_brain
  core/cmms/.env.assets
  core/cmms/.env.database
  core/cmms/.env.parts
  core/cmms/.env.work_orders
  core/cmms/configs/.env.ai_brain
  core/cmms/configs/.env.ai_providers
  core/cmms/configs/.env.assets
  core/cmms/configs/.env.database
  core/cmms/configs/.env.document_intelligence
  core/cmms/configs/.env.parts
  core/cmms/configs/.env.uacc
  core/cmms/configs/.env.work_orders
  core/cmms/deploy_ai_suite_to_gcp.sh
  core/cmms/deploy_ai_suite_to_gcp_fixed.sh
  core/cmms/deploy_chatterfix_final.sh
  core/cmms/deployment/deploy_ai_enhanced.sh
  core/cmms/deployment/deploy_chatterfix.sh
  core/cmms/deployment/deploy_to_production.sh
  infra/config/cmms/chatterfix-cmms.env
  ollama-optimized.env
  vm-deployment/.env (1).collaborative
  vm-deployment/.env.collaborative
Due: none

feat: Add RAG document-based training to ChatterFix_Consolidated
  ChatterFix_Consolidated/app/routers/rag.py
  ChatterFix_Consolidated/app/services/rag/__init__.py
  ChatterFix_Consolidated/app/services/rag/document_processor.py
  ChatterFix_Consolidated/app/services/rag/rag_service.py
  ChatterFix_Consolidated/app/services/rag/vector_store.py
  ChatterFix_Consolidated/app/static/js/AIService.js
  ChatterFix_Consolidated/app/static/js/RAGService.js
  ChatterFix_Consolidated/app/static/js/StorageService.js
  ChatterFix_Consolidated/app/templates/training_center.html
  ChatterFix_Consolidated/main.py
Due: performance-check

fix: Remove vulnerable imagemin packages
  package-lock.json
  package.json
Due: none

fix: Update Python dependencies to latest secure versions
  requirements.txt
Due: security-config-check

fix: Update all requirements.txt files with secure dependency versions
  ChatterFix_Consolidated/requirements.txt
  ai/services/requirements.txt
  backend/app/analytics/requirements.txt
  backend/backend/requirements.txt
  backend/requirements.txt
  core/cmms/chatterfix_platform/plugins/safety_management/requirements.txt
  core/cmms/chatterfix_platform/requirements.txt
  core/cmms/configs/requirements.txt
  core/cmms/requirements.txt
  frontend/requirements.txt
  services/assets/requirements.txt
  services/parts/requirements.txt
  services/voice_ai/requirements.txt
  services/work_orders/requirements.txt
  tests/requirements.txt
  vm-deployment/requirements.txt
Due: none

fix: Update remaining core/cmms service requirements with secure versions
  core/cmms/ai_brain_service_requirements.txt
  core/cmms/assets_service_requirements.txt
  core/cmms/configs/ai_brain_service_requirements.txt
  core/cmms/configs/assets_service_requirements.txt
  core/cmms/configs/database_service_requirements.txt
  core/cmms/configs/document_intelligence_service_requirements.txt
  core/cmms/configs/parts_service_requirements.txt
  core/cmms/configs/requirements-lite.txt
  core/cmms/configs/work_orders_service_requirements.txt
  core/cmms/database_service_requirements.txt
  core/cmms/parts_service_requirements.txt
  core/cmms/requirements.ai-brain.txt
  core/cmms/requirements.fred.txt
  core/cmms/work_orders_service_requirements.txt
Due: none

Add layout-switcher and firebase-auth client-side components
  app/static/css/layout-switcher.css
  app/static/js/firebase-auth.js
  app/static/js/layout-switcher.js
Due: none

Add Firestore-based Team Messaging functionality
  app/routers/team.py
  app/templates/team_dashboard.html
Due: performance-check

Fix mobile app API sync endpoints
  app/routers/safety.py
  chatterfix-relay/src/services/backendSync.ts
Due: performance-check

Fix safety router import and add JSON man-down endpoint
  app/routers/safety.py
  chatterfix-relay/src/services/backendSync.ts
Due: performance-check
