Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

feat: Add foolproof deployment system and Firebase integration
  .claude/settings.local.json
  .deployment-config
  .firebaserc
  DEPLOYMENT.md
  Dockerfile
  app/routers/feedback.py
  app/services/training_generator.py
  cloudbuild-prod.yaml
  deploy-production.sh
  firebase.json
  requirements-local.txt
  test_app.py
  test_env.py
Due: performance-check

feat: Add comprehensive sync verification system
  SYNC-GUIDE.md
  deploy-production.sh
  sync-check.sh
Due: none

fix: Update cloudbuild-prod.yaml with correct variable substitution
  cloudbuild-prod.yaml
Due: none

fix: Enhanced interactive cards and complete signup flow
  DEV-WORKFLOW.md
  app/routers/signup.py
  app/services/firebase_auth.py
  dev-deploy.sh
  local-dev.sh
  sync-deploy.sh
  test-functionality.sh
Due: performance-check

feat: Complete media upload, barcode scanning, and document processing system
  .gitignore
  FEATURE-SUMMARY.md
  app/routers/media.py
  app/routers/purchasing.py
  app/services/document_service.py
  app/services/media_service.py
  app/templates/camera_interface.html
  app/templates/enhanced_purchasing.html
  main.py
  requirements-media.txt
  scripts/check_firebase.py
Due: performance-check

fix: Resolve domain mapping CLI issue in Cloud Build
  cloudbuild-prod.yaml
Due: none

refactor: Remove domain mapping step from Cloud Build
  cloudbuild-prod.yaml
Due: none

fix: Resolve GitHub workflow failures
  .github/workflows/deploy.yml
  .github/workflows/test-and-lint.yml
  tests/__init__.py
Due: performance-check

feat: Complete Firebase Auth and Firestore integration with no SQLite on GCP
  .flake8
  .github/workflows/deploy.yml
  .github/workflows/pre-merge-checks.yml
  .github/workflows/security-scan.yml
  .github/workflows/staging-deploy.yml
  .github/workflows/test-and-lint.yml
  .pre-commit-config.yaml
  DEPLOYMENT_GUIDE.md
  Dockerfile.gcp
  FIREBASE_SETUP_GUIDE.md
  Makefile
  SIGNUP_FIREBASE_REPORT.md
  TEST_REPORT.md
  check_firebase.py
  cloudbuild.yaml
  init_firestore.py
  main.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup_dev_env.py
  setup_firebase.py
  setup_production.py
  test_chatterfix_e2e.py
  test_database.py
  test_security_performance.py
  test_signup_firebase.py
  tests/__init__.py
  tests/test_main.py
Due: security-config-check, performance-check

fix: Resolve duplicate signup tabs and Docker deployment issues
  .github/workflows/test-and-lint.yml
  app/templates/base.html
  main.py
Due: performance-check

fix: Resolve pre-deployment validation failures
  .github/workflows/deploy.yml
  deployment/pre-deploy-check.sh
Due: none

fix: Resolve GCP authentication and provide deployment alternatives
  .github/workflows/deploy.yml
  GITHUB_SECRETS_SETUP.md
  deploy-manual.sh
Due: none

feat: Add Firebase Web API key configuration
  .github/workflows/deploy.yml
  deploy-manual.sh
Due: none

feat: Secure service account keys from git tracking
  .gitignore
Due: none

fix: Improve GitHub Actions authentication with debug and fallback
  .github/workflows/deploy-simple.yml
  .github/workflows/deploy.yml
Due: none

fix: Add API enablement to deployment workflow
  .github/workflows/deploy-simple.yml
  cleanup-branches.sh
Due: none

fix: Add Cloud AI Companion and Storage APIs for deployment
  .github/workflows/deploy-simple.yml
Due: none

fix: Resolve Black formatting issue in training_generator.py
  app/services/training_generator.py
Due: performance-check

feat: Add deployment workflow that skips formatting checks
  .github/workflows/deploy-now.yml
Due: none

fix: Resolve all Black code formatting issues
  app/routers/demo.py
  app/routers/feedback.py
  app/routers/health.py
  app/routers/media.py
  app/routers/signup.py
  app/services/document_service.py
  app/services/firebase_auth.py
  app/services/gemini_service.py
  app/services/media_service.py
  app/services/training_generator.py
  main.py
Due: performance-check

feat: Add optimized .dockerignore for faster Docker builds
  .dockerignore
Due: none

fix: Resolve Cloud Run startup issues
  main.py
Due: performance-check

feat: Add direct deployment script and test endpoint
  deploy-direct.sh
  docker-fix.md
  main.py
Due: performance-check

fix: Resolve critical linting errors for Test & Lint workflow
  app/core/database.py
  app/routers/assets.py
  app/routers/dashboard.py
  app/routers/feedback.py
  app/routers/inventory.py
  app/routers/landing.py
  app/routers/settings.py
  app/routers/team.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/analytics_service.py
  app/services/auth_service.py
  app/services/computer_vision.py
  app/services/dashboard_service.py
  app/services/export_service.py
  app/services/gemini_service.py
  app/services/geolocation_service.py
  app/services/health_monitor.py
  app/services/iot_sensor_service.py
  app/services/openai_service.py
  app/services/planner_service.py
  app/services/purchasing_service.py
  app/services/push_notification_service.py
  app/services/training_generator.py
  app/services/voice_commands.py
  app/services/websocket_manager.py
Due: performance-check

fix: Remove unused imports causing Test & Lint failures
  app/services/purchasing_service.py
  app/services/push_notification_service.py
Due: performance-check

fix: Secure API keys in GitHub Actions and standardize Python 3.11
  .github/workflows/deploy.yml
  .github/workflows/test-and-lint.yml
  GITHUB_SECRETS_SETUP.md
  app/core/database.py
  app/core/db_adapter.py
  app/routers/health.py
  app/routers/inventory.py
  app/routers/settings.py
  app/routers/work_orders.py
  app/services/auth_service.py
  app/services/computer_vision.py
  app/services/dashboard_service.py
  app/services/gemini_service.py
  app/services/geolocation_service.py
  app/services/mock_data_service.py
  app/services/openai_service.py
  app/services/planner_service.py
  app/services/voice_commands.py
  pyproject.toml
Due: performance-check

fix: Apply Black code formatting to service files
  app/services/computer_vision.py
  app/services/gemini_service.py
  app/services/openai_service.py
  app/services/voice_commands.py
Due: performance-check

fix: Resolve linting errors in predictive_engine.py
  app/services/predictive_engine.py
Due: performance-check

fix: Mass cleanup of linting errors using autoflake
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/ai.py
  app/routers/analytics.py
  app/routers/auth.py
  app/routers/demo.py
  app/routers/feedback.py
  app/routers/geolocation.py
  app/routers/health.py
  app/routers/inventory.py
  app/routers/iot.py
  app/routers/landing.py
  app/routers/media.py
  app/routers/onboarding.py
  app/routers/signup.py
  app/routers/team.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/ai_assistant.py
  app/services/analytics_service.py
  app/services/auth_service.py
  app/services/computer_vision.py
  app/services/dashboard_service.py
  app/services/document_service.py
  app/services/export_service.py
  app/services/firebase_auth.py
  app/services/gemini_service.py
  app/services/geolocation_service.py
  app/services/health_monitor.py
  app/services/iot_sensor_service.py
  app/services/media_service.py
  app/services/openai_service.py
  app/services/planner_service.py
  app/services/websocket_manager.py
Due: performance-check

fix: Resolve critical linting errors - E722 and F541
  app/core/database.py
  app/routers/assets.py
  app/routers/team.py
  app/routers/training.py
  app/routers/work_orders.py
  app/services/document_service.py
  app/services/firebase_auth.py
  app/services/gemini_service.py
  app/services/iot_sensor_service.py
Due: performance-check

fix: Complete SQLite to Firebase transition and resolve linting errors
  add_image_columns.py
  app/core/database.py
  app/services/auth_service.py
  fix-critical-issues.py
  populate_demo_data.py
Due: performance-check

feat: Configure ChatterFix to use Firestore/Firebase by default
  app/core/database.py
  app/core/db_adapter.py
Due: performance-check

fix: Prepare for deployment with linting cleanup
  app/core/database.py
Due: performance-check

fix: Apply Black formatting to database.py for deployment
  app/core/database.py
Due: performance-check

fix: Configure flake8 to ignore complexity warnings for deployment
  .flake8
Due: none

Update project to Python 3.12 and remove legacy SQLite support
  Dockerfile
  Dockerfile.gcp
  app/__init__.py
  app/core/__init__.py
  app/core/database.py
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/auth.py
  app/routers/landing.py
  app/routers/signup.py
  app/services/analytics_service.py
  app/services/computer_vision.py
  app/services/firebase_auth.py
  app/services/gemini_service.py
  app/services/health_monitor.py
  app/services/openai_service.py
  app/services/planner_service.py
  main.py
  pyproject.toml
  tests/test_main.py
Due: performance-check

Fix cloudbuild.yaml to use default Dockerfile
  cloudbuild.yaml
Due: none

Fix code formatting with black
  app/core/database.py
  app/core/db_adapter.py
  app/core/firestore_db.py
  app/routers/signup.py
  app/services/analytics_service.py
  app/services/gemini_service.py
  app/services/health_monitor.py
  app/services/planner_service.py
  cloudbuild.yaml
  main.py
  tests/test_main.py
Due: performance-check

Apply black formatting
  add_image_columns.py
  app/services/health_monitor.py
  check_firebase.py
  deployment/health-monitor.py
  fix-critical-issues.py
  generate_demo_images.py
  generate_mock_data.py
  init_firestore.py
  populate_demo_data.py
  populate_firestore_demo.py
  scripts/check_firebase.py
  setup_dev_env.py
  setup_firebase.py
  setup_production.py
  test_ai_search.py
  test_app.py
  test_chatterfix_e2e.py
  test_database.py
  test_env.py
  test_security_performance.py
  test_signup_firebase.py
Due: performance-check
