Repository TheGringo-ai/ChatterFix: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-docs-check, migration-check, security-config-check, performance-check

Path conditions:
  api-docs-check: any of: ^(app\.py|.*api.*\.py)$
  migration-check: any of: ^(migrations/|models\.py|database\.py)$
  security-config-check: any of: ^(config/|\.env\.example|requirements\.txt)$
  performance-check: any of: ^(app\.py|.*\.py)$

🎉 ChatterFix CMMS Complete - Fix It Fred Assessment & AI Chat Enhancement
  chat-fix-deployment-instructions.md
  chat-widget-fix.js
  chatterfix-chat-patch.js
  core/cmms/data/cmms 2.db-shm
  core/cmms/data/cmms 2.db-wal
  core/cmms/data/cmms.db-shm
  deploy-chat-fix.py
  fix-ai-chat-routing.py
  fred-improvement-plan.sh
  fred-improvement-report.json
  implement-fred-fixes.py
  test-enhanced-chat.py
Due: performance-check

🔧 Fix All ChatterFix Chat Widgets - Complete Fix It Fred Integration
  CHAT_FIX_DEPLOYMENT_SUMMARY.md
  core/cmms/app.py
  core/cmms/static/js/ai-collaboration-dashboard.js
  core/cmms/templates/ai_assistant_component.html
  core/cmms/templates/chatterfix_base.html
Due: performance-check

🎉 ChatterFix Enterprise Platform Complete - AI Look Documentation & Monitoring
  AI_LOOK.md
  AI_LOOK_INDEX.md
  AI_LOOK_QUICK_START.md
  AI_LOOK_TECHNICAL_ADDENDUM.md
  ai_look_doc_manager.py
  enterprise_monitor.py
  fix_it_fred_chatterfix_integration.js
  start_enterprise_platform.sh
  stop_enterprise_platform.sh
  test_enterprise_functionality.py
Due: performance-check

🔧 Fix deployment workflow - Add production IP environment variable
  .github/workflows/deploy.yml
Due: none

🔧 Fix GitHub Integration - Clean Authentication Setup
  .claude/settings.local.json
Due: none

🤖 Fix It Fred: Deploy assets API fix to resolve missing asset form
  core/cmms/assets_api_vm_deploy.py
  core/cmms/deploy_to_vm.py
  core/cmms/fixed_assets_api.py
  core/cmms/vm_assets_api_fix.py
Due: api-docs-check, performance-check

🤖 Fix It Fred: Fix deployment to deploy from main-clean branch
  .github/workflows/deploy.yml
Due: none

🧹 Fix It Fred: Repository cleanup + finalized assets API
  core/cmms/.gitignore
Due: none

🚨 Emergency System Restore - ChatterFix Back Online
  core/cmms/.github/workflows/emergency-deploy.yml
  core/cmms/emergency_app.py
Due: performance-check

🚀 Complete Real-Time Deployment System - Fix It Fred Live!
  core/cmms/.github/workflows/live-deploy.yml
  core/cmms/DEPLOYMENT_STATUS.md
Due: none

🔧 Test GitHub Actions with GCP_SA_KEY secret
  test-github-actions.md
Due: none

🔧 Fix SSH access for GitHub Actions
  test-github-actions.md
Due: none

🧪 Test GitHub Actions workflow after SSH fix
  test-github-actions.md
Due: none

🧪 Add simple GCP authentication test workflow
  .github/workflows/test-gcp-auth.yml
Due: none

🔧 Fix missing GCP authentication in deploy-standard job
  .github/workflows/deploy.yml
Due: none

🧹 Major workflow cleanup - Fix GitHub Actions conflicts
  .github/workflows/deploy-chat-fixes.yml.disabled
  .github/workflows/deploy-fix-it-fred-git-integration.yml
  .github/workflows/deploy-live-editing.yml
  .github/workflows/deploy-live-editing.yml.disabled
  .github/workflows/deploy-ollama.yml.disabled
  .github/workflows/deploy-on-command.yml.disabled
  .github/workflows/deploy-to-gcp 2.yml
  .github/workflows/deploy-to-gcp.yml.disabled
  .github/workflows/fix-it-fred-critical-fixes.yml
  .github/workflows/fix-it-fred-critical-fixes.yml.disabled
  .github/workflows/fix-nginx-domain.yml
  .github/workflows/fix-nginx-domain.yml.disabled
  .github/workflows/install-best-ollama-model.yml
  .github/workflows/install-best-ollama-model.yml.disabled
  .github/workflows/live-sync.yml
  .github/workflows/live-sync.yml.disabled
  .github/workflows/quick-deploy.yml
  .github/workflows/quick-deploy.yml.disabled
  .github/workflows/quick-update.yml
  .github/workflows/quick-update.yml.disabled
Due: none

✅ Final GitHub Actions authentication test
  test-github-actions.md
Due: none

🤖 Fix It Fred Development Integration - Direct GCP VM Control
  fix_it_fred_dev_hooks.py
  fred_dev_api.py
  setup-fred-dev-access.sh
Due: api-docs-check, performance-check
